<app-header></app-header>
<section class="ct_inner_bg ct_contact_bg">
  <div class="ct_inner_title">
      <!-- <strong>OUR MISSION </strong> -->
      <h1 class="h4">Join Us in Creating a Climate <br> Positive Future</h1>
      <p>Whether you're a farmer interested in adopting sustainable practices, an investor passionate about
          climate tech, or a company aiming to offset its carbon footprint, <br> we invite you to join us in
          our mission. Contact us today to learn how we can work together for a healthier planet.
      </p>

      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>
<section class="ct_sec_padd">

  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-4 mb-md-0"  data-aos="fade-up"
data-aos-duration="1000">
              <div class="ct_address_box">
                  <i class="fa-solid fa-map-location"></i>
                  <h4>Address</h4>
                  <p>Indore Madhya pradesh</p>
              </div>
          </div>
          <div class="col-md-4  mb-4 mb-md-0"  data-aos="fade-up"
data-aos-duration="2000">
              <div class="ct_address_box">
                  <i class="fa-solid fa-envelope"></i>
                  <h4>Email</h4>
                  <p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
              </div>
          </div>
          <div class="col-md-4  mb-4 mb-md-0"  data-aos="fade-up"
data-aos-duration="3000">
              <div class="ct_address_box">
                  <i class="fa-solid fa-phone"></i>
                  <h4>Phone</h4>
                  <p><a href="mailto:+911234567890">+911234567890</a></p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="ct_sec_padd" data-aos="fade-up"
data-aos-duration="2000">

  <div class="container">
      <div class="row ct_custome_row">
          <div class="col-md-7 mb-4 col-md-0">
              <div class="ct_contact_form">
                  <header class="section-heading pt-0">
                      <div class="container sm px-0">
                          <h2 class="h4 mb-0">Contact Us
                          </h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure,
                              ipsum aliquid
                              iste sapiente.</p>
                      </div>
                  </header>
                  <form action="">
                      <div class="row">
                          <div class="col-md-6 mb-4">
                              <div class="ct_input-group">
                                  <input required="" type="text" name="text" autocomplete="off"
                                      class="ct_input">
                                  <label class="ct_user-label">First Name</label>
                              </div>
                          </div>
                          <div class="col-md-6 mb-4">
                              <div class="ct_input-group">
                                  <input required="" type="text" name="text" autocomplete="off"
                                      class="ct_input">
                                  <label class="ct_user-label">Last Name</label>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="ct_input-group mb-4">
                                  <input required="" type="email" name="text" autocomplete="off"
                                      class="ct_input">
                                  <label class="ct_user-label">Email</label>
                              </div>
                          </div>


                          <div class="col-md-12">
                              <div class="ct_input-group mb-4">
                                  <input required="" type="number" name="text" autocomplete="off"
                                      class="ct_input">
                                  <label class="ct_user-label">Phone</label>
                              </div>
                          </div>

                          <div class="col-md-12">
                              <div class="ct_input-group mb-4">
                                  <textarea required="" name="" id="" rows="4" type="text"
                                      class="ct_input"></textarea>
                                  <label class="ct_user-label">Message</label>
                              </div>
                          </div>

                      </div>

                      <button class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                          <span>Submit</span>
                      </button>

                  </form>

              </div>

          </div>
          <div class="col-md-5 mb-4 col-md-0">
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117763.55666046261!2d75.7812777434799!3d22.72410989192417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcad1b410ddb%3A0x96ec4da356240f4!2sIndore%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1682920823557!5m2!1sen!2sin"
                  width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

      </div>

  </div>
</section>


<section class="ct_grey_bg"  data-aos="fade-up"
data-aos-duration="2000">
  <div class="container">
      <header class="section-heading pt-0">
          <div class="container sm px-0">

              <h2 class="h4  mb-0">FAQ</h2>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                  placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta itaque.
                  Voluptates vitae facilis cum asperiores ipsam.</p> -->
          </div>
      </header>
      <div class="row">
          <div class="col-md-12">
              <div class="ct_job_listing_bg">
                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#collapseOne" aria-expanded="true"
                                  aria-controls="collapseOne">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.1 What is Vanya's approach to generating carbon credits on
                                          agricultural land?
                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show"
                              aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  <p class="mb-0">
                                      Our approach at Vanya combines AI, remote sensing, blockchain, and
                                      satellite data to precisely measure and verify carbon sequestration on
                                      agricultural lands. This
                                      data-driven method ensures the accuracy and transparency of carbon
                                      credits generated.

                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                  aria-expanded="false" aria-controls="collapseTwo">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.2 How can farmers and landowners benefit from partnering with
                                          Vanya?
                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse"
                              aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  <p>Farmers and landowners can earn additional income through carbon credits
                                      generated by sustainable agricultural practices. By partnering with us,
                                      you'll have access to the tools and support necessary to transition to
                                      climate-friendly farming and land management.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                  aria-expanded="false" aria-controls="collapseThree">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.3 What role does AI play in Vanya's methodology?</h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse"
                              aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  AI plays a crucial role at Vanya in analyzing complex climate data,
                                  monitoring carbon sequestration, and predicting environmental changes. It
                                  enhances the efficiency and accuracy of our carbon credit generation
                                  process.
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFour">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                  aria-expanded="false" aria-controls="collapseFour">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.4 How does Vanya ensure the accuracy and transparency of its
                                          carbon credits?
                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseFour" class="accordion-collapse collapse"
                              aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  We employ blockchain technology at Vanya to maintain a secure, immutable
                                  record of all carbon sequestration data and carbon credits generated. This
                                  ensures the integrity and transparency of our carbon credits, building trust
                                  among all stakeholders.

                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFive">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                  aria-expanded="false" aria-controls="collapseFive">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.5 What is the significance of remote sensing and satellite data in
                                          Vanya's process?

                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseFive" class="accordion-collapse collapse"
                              aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  Remote sensing and satellite data provide real-time, accurate, and
                                  comprehensive data on land use, vegetation, and carbon storage. These
                                  technologies enable us to monitor large areas efficiently and ensure the
                                  precise quantification of carbon sequestration.
                              </div>
                          </div>
                      </div>

                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingSix">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                  aria-expanded="false" aria-controls="collapseSix">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.6 How can NGOs and corporates collaborate with Vanya?

                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseSix" class="accordion-collapse collapse"
                              aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  NGOs and corporates can collaborate with us at Vanya in various ways,
                                  including funding support for farmers transitioning to sustainable
                                  practices, buying carbon credits generated, or implementing our technologies
                                  for their own sustainability goals. We're open to discussions on potential
                                  partnerships.
                              </div>
                          </div>
                      </div>

                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingSeven">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                  aria-expanded="false" aria-controls="collapseSeven">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.7 What support does Vanya offer for transitioning to sustainable
                                          agricultural practices?
                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseSeven" class="accordion-collapse collapse"
                              aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  We provide comprehensive support at Vanya, including access to our
                                  technology, guidance on sustainable practices, and assistance in monitoring
                                  and verifying carbon sequestration. Our goal is to make the transition as
                                  smooth as possible for farmers and landowners.

                              </div>
                          </div>
                      </div>

                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingSeven">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                  aria-expanded="false" aria-controls="collapseSeven">
                                  <div class="ct_carrer_job_cnt">
                                      <h4 class="ct_font_18">Q.8 How can I start earning carbon credits with Vanya?
                                      </h4>
                                  </div>
                              </button>
                          </h2>
                          <div id="collapseSeven" class="accordion-collapse collapse"
                              aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  To start earning carbon credits, reach out to us via our website or contact
                                  form at Vanya. We will guide you through the process, from assessing the
                                  potential of your land for carbon sequestration to implementing sustainable
                                  practices and earning credits.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>

