<app-header></app-header>
<section class="ct_inner_bg ct_business_bg">
  <div class="ct_inner_title">
      <!-- <strong>CAREERS AT VANYA</strong> -->
      <h1>Revolutionize your Sustainability Goals <br> with AI & Blockchain</h1>
   <!-- <p>Carbon Credit MRV with AI and Blockchain
  </p> -->
  <a href="#" class="btn btn-muted btn-xl mt-4">Contact Our Team</a>


      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>


<!-- <section class="ct_sec_padd pb-0">
  <header class="section-heading pt-0">
      <div class="container sm px-0">
          <h2 class="h4 mb-0">See how it works
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure, ipsum aliquid
              iste sapiente.</p>
      </div>
  </header>
  <div class="container">
      <div class="row">
          <div class="col-md-6 mb-4">
              <div class="ct_card_box">
                  <div class="ct_detail_cnt">
                      <h4 class="mb-2">Sell forest carbon credits
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque consequuntur delectus reiciendis iusto, excepturi ipsum voluptates cum sequi possimus unde vitae assumenda beatae architecto, amet quam suscipit ullam temporibus doloremque.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="ct_card_box">

                  <div class="ct_detail_cnt">
                      <h4 class="mb-2">Start a forest carbon project
                      </h4>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum porro enim aut eaque delectus, ducimus consequatur impedit voluptatibus nostrum? Mollitia ut sequi iusto praesentium adipisci atque beatae totam soluta.
                      </p>
                  </div>
              </div>
          </div>

      </div>
  </div>

</section> -->

<section class="ct_sec_padd"   data-aos="fade-up"
data-aos-duration="2000">
      <div class="container">
          <div class="row ct_mx_negative align-items-center">
              <div class="col-lg-6 mb-4">
                  <div class="ct_possible_title">
                      <h2>It’s all possible, we can <br> do it together.</h2>
                      <p>We want to live on a healthy, peaceful planet. A planet where forests flourish, oceans are full of life and where once-threatened animals safely roam. Where our quality of life is measured in relationships, not things we have or own.</p>
                      <div class="ct_secondry_btn_group mt-5">

                          <a href="/CT19/Vanya/tech/" class="btn btn-green btn-sm ct_custom_button">
                              <span>Our Tech</span>
                          </a>
                           <a href="/CT19/Vanya/tech/" class="btn btn-green btn-sm ct_custom_button">
                              <span>Our Partners</span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="row ct_border_bottom ct_mx_negative">
                      <div class="col-md-6 ">
                          <div class="ct_possible_right_cnt ct_border_right">
                              <div class="ct_icon_div">
                                  <img src="assets/images/possible_icon_1.png">
                              </div>
                              <div class="ct_posible_info">
                                  <h4>Forest protection</h4>
                                  <a href="#" class="ct_link_btn">Explore</a>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-6">
                          <div class="ct_possible_right_cnt">
                              <div class="ct_icon_div">
                                  <img src="assets/images/possible_icon_2.png">
                              </div>
                              <div class="ct_posible_info">
                                  <h4>Cleaning & Recycling</h4>
                                  <a href="#" class="ct_link_btn">Explore</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row ct_border_bottom ct_mx_negative">
                      <div class="col-md-6">
                           <div class="ct_possible_right_cnt ct_border_right">
                              <div class="ct_icon_div">
                                  <img src="assets/images/possible_icon_3.png">
                              </div>
                              <div class="ct_posible_info">
                                  <h4>Wildlife Preservation</h4>
                                  <a href="#" class="ct_link_btn">Explore</a>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-6">
                          <div class="ct_possible_right_cnt">
                              <div class="ct_icon_div">
                                  <img src="assets/images/possible_icon_4.png">
                              </div>
                              <div class="ct_posible_info">
                                  <h4>Planting & Forestation</h4>
                                  <a href="#" class="ct_link_btn">Explore</a>
                              </div>
                          </div>
                      </div>

                  </div>
                   <div class="row ct_mx_negative">
                      <div class="col-md-6">
                           <div class="ct_possible_right_cnt ct_border_right">
                              <div class="ct_icon_div">
                                  <img src="assets/images/possible_icon_5.png">
                              </div>
                              <div class="ct_posible_info">
                                  <h4>Protecting Mother Nature</h4>
                                  <a href="#" class="ct_link_btn">Explore</a>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-6">
                          <div class="ct_possible_right_cnt">
                              <div class="ct_icon_div">
                                  <img src="assets/images/possible_icon_6.png">
                              </div>
                              <div class="ct_posible_info">
                                  <h4>Renewable Power Homes</h4>
                                  <a href="#" class="ct_link_btn">Explore</a>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>

          </div>

      </div>
</section>

<section class="ct_sec_padd" >
  <header class="section-heading py-0">
      <div class="container sm px-0">
          <h2 class="h4 mb-0">The Vanya Difference
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure, ipsum aliquid
              iste sapiente.</p>
      </div>
  </header>
  <div class="container">
      <div class="row ct_sec_padd">
          <div class="col-md-6 ct_bg_business ct_bg_business1 mb-4"  data-aos="fade-up"
data-aos-duration="2000" >
              <img src="assets/images/bussiness_11.jpg" alt="" >
          </div>
          <div class="col-md-6 ps-md-5"  data-aos="fade-up"
data-aos-duration="2000">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Carbon Credit MRV with AI and Blockchain

                  </h4>
                  <p>Elevate your corporate sustainability initiatives with our groundbreaking solution for carbon credit MRV. We blend AI, satellite imagery, remote sensing, and blockchain technology to provide highly precise and trustworthy MRV of carbon credits. This solution, grounded in nature-based approaches, paves the way for transparent, secure carbon credit transactions.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Advanced Tech: AI, satellite imagery, and blockchain offer unparalleled precision and trust.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Transparent Transactions: Every carbon credit transaction is recorded, accessible, and immutable.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Sustainable Strategy: Nature-based solutions drive our approach to carbon sequestration.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Corporate Responsibility: Enhance your corporate sustainability and responsibility efforts.
                          </li>
                      </ul>
                  <!-- <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                      <span>Get Started</span>
                  </a> -->
              </div>
          </div>
          <div class="col-md-6 ps-md-5"  data-aos="fade-up"
data-aos-duration="2000">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Invest in Nature-Based Carbon Projects
                  </h4>
                  <p>Boost your corporate sustainability profile by investing in our high-quality, nature-based carbon offset projects. These projects not only aid in significantly reducing global carbon emissions but also align perfectly with your sustainability objectives. By investing with us, you champion a sustainable future for our planet.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Impactful Investments: Each investment supports effective, nature-based carbon offset projects.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Sustainability Alignment: Your corporate sustainability goals find a perfect match in our projects.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Quality Assured: We offer only thoroughly vetted, high-quality projects.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Future-Focused: Your investments contribute directly to a greener, healthier future.
                          </li>
                      </ul>

              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2  mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <img src="assets/images/1.jpg" alt="">
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business3 mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <img src="assets/images/2.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5" data-aos="fade-up"
data-aos-duration="2000">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Advanced AI Carbon Footprint Calculator
                  </h4>
                  <p>Empower your business with our state-of-the-art AI Carbon Footprint Calculator. Harnessing a vast array of data points, our tool provides the most accurate measure of your corporate carbon footprint. Understanding your environmental impact at this level enables smarter decision-making towards sustainable business practices.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Unrivaled Precision: Utilizes a comprehensive set of data points for precise calculations.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>AI-Powered: Leverages advanced AI technology for reliable results.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Insightful: Provides a granular view of your corporate carbon emissions.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Sustainable Decisions: Facilitates informed, sustainable business decisions.
                          </li>
                      </ul>
              </div>
          </div>
          <div class="col-md-6 ps-md-5" data-aos="fade-up"
data-aos-duration="2000">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">AI-Driven ESG Reporting Tool
                  </h4>
                  <p>Our AI-Driven ESG Reporting Tool offers a comprehensive solution for assessing your company's overall carbon footprint. Using sophisticated machine learning algorithms, this tool provides detailed analysis and suggests bespoke strategies to mitigate emissions, guiding your business towards carbon neutrality.

                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Holistic View: Offers a comprehensive analysis of your company's carbon footprint.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Intelligent Tech: Uses machine learning for precise calculations.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Customized Strategies: Proposes tailored solutions to reduce your corporate carbon emissions.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Goal-Oriented: Helps your business align with global sustainability goals.
                          </li>
                      </ul>

              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2  mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <img src="assets/images/1.jpg" alt="">
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business3 mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <img src="assets/images/2.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5" data-aos="fade-up"
data-aos-duration="2000">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Corporate Partnerships for Climate Action
                  </h4>
                  <p>Join us in driving meaningful climate action by forming a corporate partnership. Together, we can work towards reducing global carbon emissions, promoting sustainability, and ensuring a healthier planet for future generations.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Collaborative Action: Partnering amplifies our collective impact on carbon reduction.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Shared Goals: Our partnership aligns with your company's sustainability objectives.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Greater Impact: Your commitment contributes to a larger, global climate change solution.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Future Focus: Together, we safeguard the planet for future generations.
                          </li>
                      </ul>
              </div>
          </div>

      </div>
  </div>
</section>

<section class="ct_news_letter_bg mb-0"  data-aos="fade-up"
data-aos-duration="2000">
  <div class="container">
      <div class="row  align-items-center">
          <div class="col-md-12">
              <div class="ct_new_leter_title">
                  <span class="text-white">Renewable Energy Revolution now</span>
                  <h4 class="mb-0 h4 text-white">Are you ready to be part of the climate solution? Connect with us today, and let's innovate for a sustainable tomorrow together.</h4>
                 <!--  <div class="ct_news_ltr_input mt-4">
                      <input type="email" placeholder="Email Address">
                  </div> -->
              </div>
               <div class="text-center  mt-4">
                  <a href="/CT19/Vanya/contact/" class="btn btn-green btn-sm ct_custom_button w-auto ct_new_shake_btn">
                      <span>Contact us now!</span>
                  </a>
              </div>

          </div>


      </div>

  </div>
</section>




<section class="ct_sec_padd ct_contact_form_bg"  data-aos="fade-up"
data-aos-duration="2000">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ct_form_lef_img pe-md-0">
              <img src="assets/images/about_us_bg.jpg">

          </div>
          <div class="col-md-6 mx-auto  ps-md-0">

              <div class="ct_inner_form">
                  <header class="section-heading pt-0">
                      <div class="container sm px-0">
                          <h2 class="h4 mb-0">Contact Our Team
                          </h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure,
                              ipsum aliquid iste sapiente.</p>
                      </div>
                  </header>
                  <form action="">
                      <div class="row">
                          <div class="col-md-6">

                             <div class="ct_input-group mb-4">
                                  <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">First Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="ct_input-group  mb-4">
                                  <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Last Name</label>
                              </div>
                          </div>
                           <div class="col-md-6">
                               <div class="ct_input-group  mb-4">
                                  <input required="" type="email" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Email Address</label>
                              </div>
                          </div>
                           <div class="col-md-6">
                              <div class="ct_input-group  mb-4">
                                  <input required="" type="number" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Phone Number</label>
                              </div>
                          </div>
                          </div>
                           <div class="ct_input-group mb-4">
                          <textarea required="" name="" id="" rows="4" type="text" class="ct_input"></textarea>
                          <label class="ct_user-label">Message</label>
                      </div>




                      <div class="ct_form_group mb-4">
                          <label for="">Are you looking to:*
                          </label>
                          <div class="ct_select_one">
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Start a forest carbon project</label>
                              </div>
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Sell certified carbon credits</label>
                              </div>
                          </div>
                      </div>


                      <div class="text-center">
                          <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                              <span>Submit</span>
                          </a>
                      </div>
                  </form>
              </div>
          </div>

      </div>

  </div>

</section>

<div class="logo-list layout-default  py-0"  data-aos="fade-up"
data-aos-duration="2000">
  <header class="section-heading ">
      <div class="container sm">
          <span class="block-title color-green-400">OUR CUSTOMERS</span>
          <h2 class="h4">Partnering with leading brands around the world</h2>
      </div>
  </header>
  <div class="container-fluid ">
      <div class="owl-carousel owl-theme ct_client_brand_slider ct_news_slider owl-loaded owl-drag">
          <div class="owl-stage-outer">
              <div class="owl-stage"
                  style="transform: translate3d(-4320px, 0px, 0px); transition: all 1s ease 0s; width: 8400px;">
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 192px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori"
                                      width="192">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 166px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo"
                                      width="166">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 225px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Athletic-Greens.svg" class="attachment-large"
                                      alt="Athletic Greens" width="225">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 130px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Shopify.svg" class="attachment-large" alt="Shopify"
                                      width="130">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 147px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/MercadoLibre.svg" class="attachment-large"
                                      alt="MercadoLibre" width="147">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 190px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk"
                                      width="190">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 60px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso"
                                      width="60">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                  role="button" class="owl-dot"><span></span></button></div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                  role="button" class="owl-dot active"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button></div>
      </div>
  </div>
</div>

<!--   <section class="ct_sec_padd pb-0">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mx-auto">
              <div class="ct_action section ct_action_bg">
                  <header class="section-heading py-0">
                      <div class="container sm px-0">
                          <h2 class="h4 mb-0">Take Action Today
                          </h2>
                          <p>Partner with us to revolutionize your corporate sustainability initiatives. Leverage our innovative solutions for carbon credit MRV and nature-based carbon offset projects. Together, we can drive significant change, reduce global carbon emissions, and ensure a sustainable future. Contact us now to learn more.</p>
                      </div>
                  </header>
              </div>

          </div>

      </div>

  </div>
</section> -->
<app-footer></app-footer>
