<app-header></app-header>
<section class="ct_inner_bg ct_about_bg" >
  <div class="ct_inner_title">
      <strong class="block-title "> Harnessing Technology for a Sustainable Future </strong>
      <h1> Uniting Innovation and Nature</h1>
      <p>Vanya is at the forefront of climate technology, using advanced AI and blockchain to empower carbon sequestration efforts worldwide.<br> We're passionate about turning the tide on climate change
           and believe in the power of technology to achieve this monumental task.
      </p>

      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a >
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
        <p>scroll me</p>

      </span>
  </div>

</section>


<section class="ct_sec_padd" data-aos="fade-up"
data-aos-duration="3000">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6 mb-4">
              <div class="ct_about_img">
                  <img src="assets/images/From-Vision-Impact.jpg" alt="images">
              </div>

          </div>
          <div class="col-md-6 mb-4">
              <div class="ct_about_ant">
                  <header class="section-heading text-start py-0">
                      <div class="container sm px-0">
                          <span class="block-title color-green-400 text-start">A Journey Towards Sustainable Change
                          </span>
                          <h2 class="h4">From Vision to Impact</h2>

                      </div>
                  </header>
                  <p>
                      Founded with the vision of integrating technology with nature-based solutions, Vanya has grown into a leading force in climate tech. Our journey is fueled by the desire to create a sustainable future and the belief that every individual and organization can contribute to this mission.

                  </p>
              </div>
          </div>

      </div>
  </div>
</section>
<section class="bg-gray-100 ct_sec_padd" data-aos="fade-up"
data-aos-duration="3000">
  <div class="container">
      <header class="section-heading  py-0">
          <div class="container sm px-0">
              <span class="block-title color-green-400">A Collective Force for Change
              </span>
              <h2 class="h4 mb-0">Meet the Innovators Behind Vanya                        </h2>

          </div>
      </header>
      <div class="row mt-5" >
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_team_card shadow-sm p-4">
                  <div class="ct_team_image-wrapper mb-3">
                      <img class="img-fluid" src="assets/images/team_1.jpg" alt="images" />
                  </div>
                  <div class="ct_team_box-desc">
                      <h4>Cindy Chiang</h4>
                      <p>Carbon Solutions</p>
                  </div>

              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_team_card shadow-sm p-4">
                  <div class="ct_team_image-wrapper mb-3">
                      <img class="img-fluid" src="assets/images/team_2.jpg" alt="images" />
                  </div>
                  <div class="ct_team_box-desc">
                      <h4>Will Merritt</h4>
                      <p>Science</p>
                  </div>

              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_team_card shadow-sm p-4">
                  <div class="ct_team_image-wrapper mb-3">
                      <img class="img-fluid" src="assets/images/team_3.jpg" alt="images" />
                  </div>
                  <div class="ct_team_box-desc">
                      <h4>Kate Krauskopt</h4>
                      <p>Accounting</p>
                  </div>

              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_team_card shadow-sm p-4">
                  <div class="ct_team_image-wrapper mb-3">
                      <img class="img-fluid" src="assets/images/team_4.jpg" alt="images" />
                  </div>
                  <div class="ct_team_box-desc">
                      <h4>Andrea Sassenrath</h4>
                      <p>Product</p>
                  </div>

              </div>
          </div>


      </div>

  </div>
</section>

<section class="ct_sec_padd" data-aos="fade-up"
data-aos-duration="3000">
  <div class="container">
    <div class="row align-items-center ct_box_shadow">

      <div class="col-md-6 ps-md-0 mb-4 mb-md-0">
          <div class="ct_vanya_mean_imgbx">
              <img src="assets/images/what-vanya-means.png" alt="images">
          </div>
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
         <div class="">
          <header class="section-heading  py-0 text-start">
              <div class="container sm px-0">
                  <span class="block-title text-start color-green-400">The Essence of Mother Earth
                  </span>
                  <h2 class="h4 mb-0 text-start">A Name Rooted in Nature</h2>
                  <p>
                      In India, 'Vanya' signifies 'wilderness' or 'forest', embodying our dedication to nature-based solutions. It represents our commitment to harnessing the power of nature in mitigating climate change and our respect for the invaluable role of natural ecosystems.
                  </p>
              </div>
          </header>
         </div>
      </div>

    </div>
  </div>
</section>
<section class="ct_news_letter_bg" data-aos="fade-up"
data-aos-duration="3000">
  <div class="container">
      <div class="row  align-items-center">
          <div class="col-md-12">
              <div class="ct_new_leter_title">
                  <span class="text-white">Renewable Energy Revolution now</span>
                  <h4 class="mb-0 h4 text-white">Join Us in Making a Difference</h4>
                 <!--  <div class="ct_news_ltr_input mt-4">
                      <input type="email" placeholder="Email Address">
                  </div> -->
              </div>
               <div class="text-center  mt-4">
                  <a href="/CT19/Vanya/careers/" class="btn btn-green btn-sm ct_custom_button w-auto ct_new_shake_btn">
                      <span>See open positions</span>
                  </a>
              </div>

          </div>


      </div>

  </div>
</section>



<section class="ct_sec_padd" data-aos="fade-up"
data-aos-duration="3000">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="">
                  <header class="section-heading pt-0">
                      <div class="container sm">
                          <span class="block-title color-green-400">OUR BACKERS</span>
                          <h2 class="h4">Some of our investors</h2>
                      </div>
                  </header>

                  <div class="ct_backers_logo_flex">
                      <img src="assets/images/logo-amazon.svg" alt="images">
                      <img src="assets/images/backers_2.webp" alt="images">
                      <img src="assets/images/backers_3.webp" alt="images">
                      <img src="assets/images/logo-amazon.svg" alt="images">
                      <img src="assets/images/backers_2.webp" alt="images">
                      <img src="assets/images/backers_3.webp" alt="images">
                      <img src="assets/images/logo-amazon.svg" alt="images">
                      <img src="assets/images/backers_2.webp" alt="images">
                      <img src="assets/images/backers_3.webp" alt="images">
                      <img src="assets/images/logo-amazon.svg" alt="images">
                  </div>
              </div>
          </div>

      </div>

  </div>
</section>



<section class="ct_sec_padd pt-0  bg-gray-100" data-aos="fade-up"
data-aos-duration="3000">
  <div class="container">
  <header class="section-heading  ">
      <div class="container sm">
          <!-- <span class="block-title color-green-400">OUR Advisers</span> -->
          <h2 class="h4">OUR Advisers</h2>
      </div>
  </header>

  <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
          <div class="ct_adviser_card">
              <img src="assets/images/team_4.jpg" alt="images">
              <div class="ct_adviser_info">
                  <h4>Ryan Graves </h4>
                  <p>Saltwater Founder</p>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
          <div class="ct_adviser_card">
              <img src="assets/images/team_3.jpg" alt="images">
              <div class="ct_adviser_info">
                  <h4>Chris Sacca</h4>
                  <p>Lowercase Founder</p>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
          <div class="ct_adviser_card">
              <img src="assets/images/team_2.jpg" alt="images">
              <div class="ct_adviser_info">
                  <h4>Shana Fisher</h4>
                  <p>Y Combinator Founder</p>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
          <div class="ct_adviser_card">
              <img src="assets/images/team_1.jpg" alt="images">
              <div class="ct_adviser_info">
                  <h4> Paul Graham</h4>
                  <p>Third Kind Founder</p>
              </div>
          </div>
      </div>

  </div>
</div>
</section>

<section data-aos="fade-up"
data-aos-duration="3000">
  <div class="logo-list layout-default py-0" >
      <header class="section-heading ">
          <div class="container sm">
              <span class="block-title color-green-400">OUR CUSTOMERS</span>
              <h2 class="h4">Partnering with leading brands around the world</h2>
          </div>
      </header>
      <div class="container-fluid ">
          <div class="owl-carousel owl-theme ct_client_brand_slider ct_news_slider owl-loaded owl-drag">
              <div class="owl-stage-outer">
                  <div class="owl-stage" style="transform: translate3d(-1920px, 0px, 0px); transition: all 1s ease 0s; width: 4080px;"><div class="owl-item cloned" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 60px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso" width="60">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 192px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori" width="192">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 166px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo" width="166">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 225px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Athletic-Greens.svg" class="attachment-large" alt="Athletic Greens" width="225">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 130px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Shopify.svg" class="attachment-large" alt="Shopify" width="130">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 147px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/MercadoLibre.svg" class="attachment-large" alt="MercadoLibre" width="147">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 190px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk" width="190">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 60px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso" width="60">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item active" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 192px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori" width="192">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item active" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 166px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo" width="166">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item active" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 225px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Athletic-Greens.svg" class="attachment-large" alt="Athletic Greens" width="225">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="owl-item active" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 130px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Shopify.svg" class="attachment-large" alt="Shopify" width="130">
                                  </div>
                              </div>
                          </div>
                      </div>
                  <div class="owl-item cloned active" style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 147px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/MercadoLibre.svg" class="attachment-large" alt="MercadoLibre" width="147">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 190px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk" width="190">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 60px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso" width="60">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 192px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori" width="192">
                                  </div>
                              </div>
                          </div>
                      </div><div class="owl-item " style="width: 230px; margin-right: 10px;">
                          <div class="item">
                              <div class="logo-wrap" style="width: 166px;">
                                  <div class="ct_client_img">
                                      <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo" width="166">
                                  </div>
                              </div>
                          </div>
                      </div></div>
              </div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
      </div>
  </div>
</section>
<app-footer></app-footer>

