<footer class="ct_footer_bg">
  <div class="container">

      <div class="row  mt-4">
          <div class="col-md-3 col-sm-6 mb-4 mb-lg-0">
                <div class="ct_footer_logo mb-4">
          <a href="/CT19/Vanya/vanya/"><img src="/assets/images/logo.png" alt="../images/logo.png"></a>
      </div>
             <div class="ct_description_cnt">
                 <p class="mb-0 text-white text-start">
                    Vanya Leverage agriculture land and soil to generate carbon credits using artificial intelligence, blockchain, machine learning, satellite data, and remote sensing.
                 </p>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4 mb-lg-0">
              <div class="ct_ftr_menu">
                  <h4 class="mb-4 ct_font_24 text-white">Menu Links</h4>
                  <ul>
                       <li><a routerLink="/partners">For Partners</a></li>
                       <li><a routerLink="/business">For Businesses</a></li>
                      <li><a routerLink="/products" >Products</a></li>
                      <li><a routerLink="/career">Careers</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4 mb-lg-0">
              <div class="ct_address_ftr">
                  <h4  class="mb-4 text-white ct_font_24">Let’s get in touch</h4>
                  <p><a href="tel:1234567890"><i class="fa-solid fa-phone"></i>+1234567890</a></p>
                  <p><a href="mailto:contact@vanya.ai"><i class="fa-solid fa-envelope"></i>contact@vanya.ai</a></p>
              </div>
          </div>
           <div class="col-md-3 col-sm-6 mb-4 mb-lg-0">
              <h4  class="mb-4 ct_font_24 text-white">Social Media</h4>
             <div class="ct_social_icons">
              <ul>
                  <li>
                      <a href="https://twitter.com/vanya_ai" target="_blank">
                          <i class="fa-brands fa-twitter"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/ai_vanya/" target="_blank">
                          <i class="fa-brands fa-instagram"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/company/vanya-ai/" target="_blank">
                          <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                  </li>
              </ul>
          </div>
          </div>

      </div>

      <div class="ct_bottom_bar">
          <div class="row align-items-center">
              <div class="col-md-4 ">
                  <div class="ct_ftr_left_cnt">
                      <p>Copyright © 2022 Vanya, Inc.</p>
                  </div>

              </div>
              <div class="col-md-8">
                  <div class="ct_ftr_right_cnt text-md-end">
                      <ul>
                          <li>
                              <a routerLink="/privacyPolicy">Privacy Policy</a>
                          </li>
                          <li>
                             /
                          </li>
                          <li>
                              <a routerLink="/terms-condition">Terms & Condition</a>
                          </li>

                      </ul>
                  </div>

              </div>

          </div>
      </div>
  </div>
</footer>
