<app-header></app-header>
<section class="ct_inner_bg ct_farmer_bg">
  <div class="ct_inner_title">
      <!-- <strong>CAREERS AT VANYA</strong> -->
      <h1>Empowering Farmers To <br> Drive Sustainability
      </h1>
   <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi velit, aspernatur dolores dicta cupiditate sint eaque enim facere dignissimos autem, <br> blanditiis tempora consequuntur, ullam alias! Cum recusandae corporis quod cumque?
  </p> -->

      <a href="#" class="btn btn-muted btn-xl mt-4">Get Started</a>
      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>

<!--
<section class="ct_sec_padd">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-4">
              <div class="ct_card_box">
                  <div class="ct_num_item">
                      <h4>1</h4>
                  </div>
                  <div class="ct_detail_cnt">
                      <h4>Create your account
                      </h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, voluptatum
                          dolore veniam minima.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="ct_card_box">
                  <div class="ct_num_item">
                      <h4>2</h4>
                  </div>
                  <div class="ct_detail_cnt">
                      <h4>Create your account
                      </h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, voluptatum
                          dolore veniam minima.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="ct_card_box">
                  <div class="ct_num_item">
                      <h4>3</h4>
                  </div>
                  <div class="ct_detail_cnt">
                      <h4>Create your account
                      </h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, voluptatum
                          dolore veniam minima.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section> -->

<section class="ct_sec_padd" data-aos="fade-down"
data-aos-duration="2000">

  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6 mb-4" >
            <div class="ct_partners_abt_img">
                  <img src="assets/images/about-img-1.jpg" class="img-fluid">
                  <div class="about-quote">
                      <i class="fa-solid fa-quote-right"></i>
                      <p>Lorem ipsum dolor sit amet conse ctet adip elit ollicitu din conse ctetur netus dui ultrice lectus ac egestas ips ctetur ctet adip  ivamus tellu aliq. </p>
                  </div>
            </div>
          </div>
            <div class="col-md-6 mb-4">
              <div class="ct_partner_dtl_cnt">
                  <header class="section-heading text-start">
                  <div class="container sm">
                      <span class="block-title color-green-400 text-start">A Little Introduction</span>
                      <h2 class="h4 mb-2">Protect Our Earth Against Climate Change</h2>
                      <p>
                          Turn your commitment to sustainability into a profitable venture with our AI-based carbon credits. By farming carbon credits, you monetize your sustainable farming practices while contributing to carbon reduction.
                      </p>

                      <ul class="mb-0 ps-0 ct_list_item mt-4">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Facilitates income generation through sustainable practices.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Offers a lucrative market for carbon credits.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Helps diversify your farm's income sources.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Supports global carbon reduction efforts.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Encourages a transition to environmentally friendly farming.
                          </li>
                      </ul>
                  </div>
  </header>

              </div>
          </div>

      </div>
     <!--  <div class="row ct_sec_padd">
          <div class="col-md-6 ct_bg_business ct_bg_business1 mb-4">
              <img src="../images/bussiness_11.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Profitable Sustainability
                  </h4>
                  <p>Turn your commitment to sustainability into a profitable venture with our AI-based carbon credits. By farming carbon credits, you monetize your sustainable farming practices while contributing to carbon reduction.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Facilitates income generation through sustainable practices.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Offers a lucrative market for carbon credits.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Helps diversify your farm's income sources.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Supports global carbon reduction efforts.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Encourages a transition to environmentally friendly farming.
                          </li>
                      </ul>

                      <h4 class="ct_heading_h4 mb-0 mt-4">Advantages for Farmers</h4>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Generates an additional, consistent revenue stream.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Enhances financial resilience by diversifying income sources.

                          </li>
                      </ul>
              </div>
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Accurate MRV
                  </h4>
                  <p>Our advanced AI technology ensures high precision in the MRV process. This accuracy provides transparency and credibility to the carbon credits you generate, assuring their value.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Utilizes cutting-edge AI for precise MRV.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Ensures transparency in carbon credit generation.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Provides credibility to your carbon credits.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Allows easy monitoring and verification of carbon sequestration.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Supports the integrity of the carbon credit market.
                          </li>
                      </ul>
                      <h4 class="ct_heading_h4 mb-0 mt-4">Advantages for Farmers</h4>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Builds confidence in the value of the carbon credits generated.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Simplifies the process of monitoring and verifying carbon sequestration.
                          </li>
                      </ul>
              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2  mb-4">
              <img src="../images/1.jpg" alt="">
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business3 mb-4">
              <img src="../images/2.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Nature-Based Solutions
                  </h4>
                  <p>Implementing nature-based solutions enhances your land's carbon sequestration capacity. This not only generates carbon credits but also improves soil health and biodiversity.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Enhances carbon sequestration on your farm.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Promotes biodiversity and healthier ecosystems.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Improves soil health and fertility.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Encourages sustainable farming practices.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Contributes to climate change mitigation efforts.
                          </li>
                      </ul>

                      <h4 class="ct_heading_h4 mb-0 mt-4">Advantages for Farmers</h4>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Enhances the productivity and resilience of your farm.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Increases the long-term sustainability of your farming practices.
                          </li>
                      </ul>
              </div>
          </div>


          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Empowerment Through Innovation
                  </h4>
                  <p>
                      Our AI-based solution empowers you to control your land's environmental impact. By becoming a carbon sink, you play a vital role in climate change mitigation.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Empowers farmers to contribute to climate solutions.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Utilizes innovative technology for environmental conservation.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Transforms farms into valuable carbon sinks.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Encourages adoption of cutting-edge technology in farming.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Demonstrates the potential of AI in agriculture and conservation.

                          </li>
                      </ul>
                      <h4 class="ct_heading_h4 mb-0 mt-4">Advantages for Farmers</h4>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Places farmers at the forefront of technological innovation in agriculture.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Elevates the role of farmers in fighting climate change.
                          </li>
                      </ul>
              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2 mb-4">
              <img src="../images/1.jpg" alt="">
          </div>


          <div class="col-md-6 ct_bg_business ct_bg_business3 mb-4">
              <img src="../images/2.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Community Impact
                  </h4>
                  <p>Farming carbon credits influences your community, encouraging a shift towards sustainability with far-reaching impacts.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Inspires sustainable practices in your community.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Demonstrates the profitability of sustainable farming.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Contributes to local climate change mitigation efforts.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Encourages community involvement in environmental conservation.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Builds a sustainable farming model for others to follow.

                          </li>
                      </ul>

                      <h4 class="ct_heading_h4 mb-0 mt-4">Advantages for Farmers</h4>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Strengthens your standing as a sustainability leader in your community.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Creates a positive, long-lasting impact on local environmental efforts.
                          </li>
                      </ul>
                      <p>Join us in this exciting journey where technology meets nature, and profitability meets sustainability. Generate additional income, bolster your farm's resilience, and contribute to a healthier planet. Contact us now to learn how you can start farming carbon credits today.
                      </p>
              </div>
          </div>

      </div> -->
  </div>
</section>


<section class="ct_sec_padd">
  <header class="section-heading pt-0"  data-aos="fade-down"
data-aos-duration="2000">
      <div class="container sm">
          <span class="block-title color-green-400">Sustainable Energy Solutions</span>
          <h2 class="h4">Providing Sustainable Energy Solutions</h2>
      </div>
  </header>
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-4"  data-aos="fade-down"
data-aos-duration="1000">
              <div class="ct_help_card">
                  <figure class="mb-0">
                      <img src="assets/images/power_home.png">
                      <figcaption>
                          <h4>Products</h4>
                          <p>Iterative approaches to corporate strategy foster collaborative thinking to further the overall.</p>
                          <a href="#">Read more<i class="fa-solid fa-arrow-right-long"></i></a>
                      </figcaption>
                  </figure>
              </div>

          </div>
            <div class="col-md-4 mb-4"  data-aos="fade-down"
data-aos-duration="2000">
              <div class="ct_help_card">
                  <figure class="mb-0">
                      <img src="assets/images/power_home.png">
                      <figcaption>
                          <h4>Products</h4>
                          <p>Iterative approaches to corporate strategy foster collaborative thinking to further the overall.</p>
                          <a href="#">Read more<i class="fa-solid fa-arrow-right-long"></i></a>
                      </figcaption>
                  </figure>
              </div>

          </div>
            <div class="col-md-4 mb-4"  data-aos="fade-down"
data-aos-duration="3000">
              <div class="ct_help_card">
                  <figure class="mb-0">
                      <img src="assets/images/power_home.png">
                      <figcaption>
                          <h4>Products</h4>
                          <p>Iterative approaches to corporate strategy foster collaborative thinking to further the overall.</p>
                          <a href="#">Read more<i class="fa-solid fa-arrow-right-long"></i></a>
                      </figcaption>
                  </figure>
              </div>

          </div>

      </div>

  </div>

</section>

<section class="ct_news_letter_bg mb-0" data-aos="fade-down"
data-aos-duration="2000">
  <div class="container">
      <div class="row  align-items-center">
          <div class="col-md-12">
              <div class="ct_new_leter_title">
                  <span class="text-white">Renewable Energy Revolution now</span>
                  <h4 class="mb-0 h4 text-white">Are you ready to be part of the climate solution? Connect with us today, and let's innovate for a sustainable tomorrow together.</h4>
                 <!--  <div class="ct_news_ltr_input mt-4">
                      <input type="email" placeholder="Email Address">
                  </div> -->
              </div>
               <div class="text-center  mt-4">
                  <a href="/CT19/Vanya/contact/" class="btn btn-green btn-sm ct_custom_button w-auto ct_new_shake_btn">
                      <span>Contact us now!</span>
                  </a>
              </div>

          </div>


      </div>

  </div>
</section>



<section class="ct_sec_padd ct_contact_form_bg" data-aos="fade-down"
data-aos-duration="2000">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ct_form_lef_img pe-md-0">
              <img src="assets/images/about_us_bg.jpg">

          </div>
          <div class="col-md-6 mx-auto  ps-md-0">

              <div class="ct_inner_form">
                  <header class="section-heading pt-0">
                      <div class="container sm px-0">
                          <h2 class="h4 mb-0">Contact Our Team
                          </h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure,
                              ipsum aliquid iste sapiente.</p>
                      </div>
                  </header>
                  <form action="">
                      <div class="row">
                          <div class="col-md-6">

                             <div class="ct_input-group mb-4">
                                  <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">First Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="ct_input-group  mb-4">
                                  <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Last Name</label>
                              </div>
                          </div>
                           <div class="col-md-6">
                               <div class="ct_input-group  mb-4">
                                  <input required="" type="email" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Email Address</label>
                              </div>
                          </div>
                           <div class="col-md-6">
                              <div class="ct_input-group  mb-4">
                                  <input required="" type="number" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Phone Number</label>
                              </div>
                          </div>
                          </div>
                           <div class="ct_input-group mb-4">
                          <textarea required="" name="" id="" rows="4" type="text" class="ct_input"></textarea>
                          <label class="ct_user-label">Message</label>
                      </div>




                      <div class="ct_form_group mb-4">
                          <label for="">Are you looking to:*
                          </label>
                          <div class="ct_select_one">
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Start a forest carbon project</label>
                              </div>
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Sell certified carbon credits</label>
                              </div>
                          </div>
                      </div>


                      <div class="text-center">
                          <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                              <span>Submit</span>
                          </a>
                      </div>
                  </form>
              </div>
          </div>

      </div>

  </div>

</section>


<div class="logo-list layout-default  py-0" data-aos="fade-down"
data-aos-duration="2000">
  <header class="section-heading ">
      <div class="container sm">
          <span class="block-title color-green-400">OUR CUSTOMERS</span>
          <h2 class="h4">Partnering with leading brands around the world</h2>
      </div>
  </header>
  <div class="container-fluid ">
      <div class="owl-carousel owl-theme ct_client_brand_slider ct_news_slider owl-loaded owl-drag">
          <div class="owl-stage-outer">
              <div class="owl-stage"
                  style="transform: translate3d(-4320px, 0px, 0px); transition: all 1s ease 0s; width: 8400px;">
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 192px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori"
                                      width="192">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 166px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo"
                                      width="166">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 225px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Athletic-Greens.svg" class="attachment-large"
                                      alt="Athletic Greens" width="225">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 130px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Shopify.svg" class="attachment-large" alt="Shopify"
                                      width="130">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 147px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/MercadoLibre.svg" class="attachment-large"
                                      alt="MercadoLibre" width="147">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 190px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk"
                                      width="190">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 60px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso"
                                      width="60">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                  role="button" class="owl-dot"><span></span></button></div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                  role="button" class="owl-dot active"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button></div>
      </div>
  </div>
</div>
<app-footer></app-footer>
