
<app-header></app-header>
<section class="ct_inner_bg ct_careers_bg">
  <div class="ct_inner_title">
      <!-- <strong>CAREERS AT VANYA</strong> -->
      <h1>Privacy Policy </h1>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi velit, aspernatur dolores dicta cupiditate sint eaque enim facere dignissimos autem, <br> blanditiis tempora consequuntur, ullam alias! Cum recusandae corporis quod cumque?
  </p>



      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>

<section class="ct_sec_padd">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="ct_para_text">
                  <p>
                      This Privacy Policy will inform you about the types of personal data we collect, the purposes for which we use the data, the ways in which the data is handled and your rights with regard to your personal data. Furthermore, this Privacy Policy is intended to satisfy the obligation of transparency under the EU General Data Protection Regulation 2016/679 ("GDPR") and the laws implementing GDPR.
                  </p>
                  <p>For the purpose of this Privacy Policy the Data Controller of personal data is Wasai LLC and our contact details are set out in the Contact section at the end of this Privacy Policy. Data Controller means the natural or legal person who (either alone or jointly or in common with other persons) determines the purposes for which and the manner in which any personal information are, or are to be, processed.</p>
                  <p>For purposes of this Privacy Policy, "Your Information" or "Personal Data" means information about you, which may be of a confidential or sensitive nature and may include personally identifiable information ("PII") and/or financial information. PII means individually identifiable information that would allow us to determine the actual identity of a specific living person, while sensitive data may include information, comments, content and other information that you voluntarily provide.</p>
                  <p>Lorem Ipsum collects information about you when you use our Website to access our services, and other online products and services (collectively, the “Services”) and through other interactions and communications you have with us. The term Services includes, collectively, various applications, websites, widgets, email notifications and other mediums, or portions of such mediums, through which you have accessed this Privacy Policy.</p>
                  <p>We may change this Privacy Policy from time to time. If we decide to change this Privacy Policy, we will inform you by posting the revised Privacy Policy on the Site. Those changes will go into effect on the "Last updated" date shown at the end of this Privacy Policy. By continuing to use the Site or Services, you consent to the revised Privacy Policy. We encourage you to periodically review the Privacy Policy for the latest information on our privacy practices.</p>
              </div>
          </div>

      </div>

  </div>
</section>
<app-footer></app-footer>


