<app-header></app-header>
<section class="ct_inner_bg ct_careers_bg">
  <div class="ct_inner_title">
      <strong>CAREERS AT VANYA</strong>
      <h1>Join the Force of Nature </h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi velit, aspernatur dolores dicta cupiditate sint eaque enim facere dignissimos autem, <br> blanditiis tempora consequuntur, ullam alias! Cum recusandae corporis quod cumque?</p>

      <a href="#" class="btn btn-muted btn-xl mt-4">Get Started</a>
      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>

<section class="ct_sec_padd" data-aos="fade-up"
data-aos-duration="2000">
  <div class="container">

      <div class="row align-items-center">
          <div class="col-md-6 mb-4" >
              <div class="ct_about_img">
                  <img src="assets/images/about_img.jpg" alt="images">
              </div>

          </div>
          <div class="col-md-6 mb-4">
              <div class="ct_about_ant">
                  <header class="section-heading text-start py-0">
                      <div class="container sm px-0">
                          <span class="block-title color-green-400 text-start">THE BEGINNINGS</span>
                          <h2 class="h4">Our story</h2>
                      </div>
                  </header>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus perspiciatis at
                      sapiente, fuga iste facilis accusantium libero nam! Nostrum laborum qui ipsa ea et nihil
                      eius quae consectetur dolor eligendi?Repellendus perspiciatis at sapiente, fuga iste
                      facilis accusantium libero nam! Nostrum laborum
                  </p>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, aperiam in! Doloribus,
                      voluptate architecto. Obcaecati minus praesentium sapiente dignissimos odit eaque dolor,
                      error provident temporibus officiis corrupti ipsa nostrum numquam!
                  </p>
                  <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto">
                      <span>Learn More</span>
                  </a>
              </div>
          </div>

      </div>
  </div>
</section>


<!-- <section class="ct_sec_padd ct_distribute_bg">
  <div class="container">
      <header class="section-heading pt-0">
          <div class="container sm px-0">
              <h2 class="h4 mb-0">Distributed, yet united</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo placeat commodi, eveniet
                  illum omnis maiores dicta odit culpa? Numquam modi soluta itaque. Voluptates vitae facilis
                  cum asperiores ipsam.</p>
          </div>
      </header>

      <div class="row">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_distribute_img_card">
                  <figure>
                      <div class="ct_distribute_img">
                          <img src="../images/diastributed_img_1.jpg" alt="images">
                      </div>
                      <figcaption>
                          <h4>Heidi Hurst</h4>
                          <p class="mb-0">GIS & Software England</p>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_distribute_img_card">
                  <figure>
                      <div class="ct_distribute_img">
                          <img src="../images/diastributed_img_1.jpg" alt="images">
                      </div>
                      <figcaption>
                          <h4>Heidi Hurst</h4>
                          <p class="mb-0">GIS & Software England</p>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_distribute_img_card">
                  <figure>
                      <div class="ct_distribute_img">
                          <img src="../images/diastributed_img_1.jpg" alt="images">
                      </div>
                      <figcaption>
                          <h4>Heidi Hurst</h4>
                          <p class="mb-0">GIS & Software England</p>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="ct_distribute_img_card">
                  <figure>
                      <div class="ct_distribute_img">
                          <img src="../images/diastributed_img_1.jpg" alt="images">
                      </div>
                      <figcaption>
                          <h4>Heidi Hurst</h4>
                          <p class="mb-0">GIS & Software England</p>
                      </figcaption>
                  </figure>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!-- <section class="ct_sec_padd">
  <div class="container">
      <header class="section-heading pt-0">
          <div class="container sm px-0">

              <h2 class="h4 mb-0">Where Vanyas come from:</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo placeat commodi, eveniet
                  illum omnis maiores dicta odit culpa? Numquam modi soluta itaque. Voluptates vitae facilis
                  cum asperiores ipsam.</p>
          </div>
      </header>
      <div class="ct_brabd_grid_5">
          <img src="../images/brand_1.webp" alt="../images/brand_1.webp">
          <img src="../images/brand_2.webp" alt="images">
          <img src="../images/brand_3.webp" alt="images">
          <img src="../images/brand_4.png" alt="images">
          <img src="../images/brand_6.webp" alt="images">
          <img src="../images/brand_1.webp" alt="../images/brand_1.webp">
          <img src="../images/brand_2.webp" alt="images">
          <img src="../images/brand_3.webp" alt="images">
          <img src="../images/brand_4.png" alt="images">
          <img src="../images/brand_6.webp" alt="images">
          <img src="../images/brand_1.webp" alt="../images/brand_1.webp">
          <img src="../images/brand_2.webp" alt="images">
          <img src="../images/brand_3.webp" alt="images">
          <img src="../images/brand_4.png" alt="images">
          <img src="../images/brand_6.webp" alt="images">
      </div>

  </div>
</section> -->

<section class="ct_service_bg ct_sec_padd">
  <div class="container">
      <header class="section-heading pt-0" data-aos="fade-up"
data-aos-duration="2000">
          <div class="container sm px-0">

              <h2 class="h4  mb-0 text-white">Driven by a strong set of values</h2>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                  placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta itaque.
                  Voluptates vitae facilis cum asperiores ipsam.</p>
          </div>
      </header>
      <div class="row">
          <div class="col-md-6 mb-4" data-aos="fade-up"
data-aos-duration="1000">
              <div class="ct_srvc_card">
                  <h4>PURPOSE</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                      placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta
                      itaque.
                      Voluptates vitae facilis cum asperiores ipsam.</p>
              </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <div class="ct_srvc_card">
                  <h4>INTEGRITY</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                      placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta
                      itaque.
                      Voluptates vitae facilis cum asperiores ipsam.</p>
              </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"
data-aos-duration="1000">
              <div class="ct_srvc_card">
                  <h4>EXCELLENCE</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                      placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta
                      itaque.
                      Voluptates vitae facilis cum asperiores ipsam.</p>
              </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <div class="ct_srvc_card">
                  <h4>TENACITY</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                      placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta
                      itaque.
                      Voluptates vitae facilis cum asperiores ipsam.</p>
              </div>
          </div>

      </div>

  </div>
</section>

<section class="ct_sec_padd" data-aos="fade-up"
data-aos-duration="2000">
    <header class="section-heading py-0">
                  <div class="container sm px-0">

                      <h2 class="h4 mb-0">Benefits and perks </h2>
                      <p>Our people-first approach to work is backed up by a slate of great</p>
                  </div>
              </header>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="ct_animated_images">
                  <img src="assets/images/welcome-pic-1.png" alt="">
              </div>
          </div>
          <div class="col-md-6">
              <div class="ct_benifits_card">
                  <div class="ct_img_icon">
                      <img src="assets/images/icon-salary.png" alt="">
                  </div>
                  <div class="ct_benifits_cnt">
                      <h4>Competitive salary and equity
                      </h4>
                  </div>
              </div>
              <div class="ct_benifits_card">
                  <div class="ct_img_icon">
                      <img src="assets/images/icon-holiday.png" alt="">
                  </div>
                  <div class="ct_benifits_cnt">
                      <h4>Flexible PTO and all company holidays
                      </h4>
                  </div>
              </div>
              <div class="ct_benifits_card">
                  <div class="ct_img_icon">
                      <img src="assets/images/icon-health.png" alt="">
                  </div>
                  <div class="ct_benifits_cnt">
                      <h4>Health Insurance
                      </h4>
                  </div>
              </div>
              <div class="ct_benifits_card">
                  <div class="ct_img_icon">
                      <img src="assets/images/icon-health.png" alt="">
                  </div>
                  <div class="ct_benifits_cnt">
                      <h4>Dental & Vision Coverage
                      </h4>
                  </div>
              </div>
              <div class="ct_benifits_card">
                  <div class="ct_img_icon">
                          <img src="assets/images/icon-home-office.png" alt="">
                  </div>
                  <div class="ct_benifits_cnt">
                      <h4>Home Office Stipend

                      </h4>
                  </div>
              </div>
              <div class="ct_benifits_card mb-0">
                  <div class="ct_img_icon">
                      <img src="assets/images/icon-learning.png" alt="">
                  </div>
                  <div class="ct_benifits_cnt">
                      <h4>Learning & Development Stipend

                      </h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- <section class="ct_testimonial_bg ct_sec_padd">
  <div class="container">
      <header class="section-heading pt-0">
          <div class="container sm px-0">

              <h2 class="h4  mb-0">Do the work of your lifetime</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                  placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta itaque.
                  Voluptates vitae facilis cum asperiores ipsam.</p>
          </div>
      </header>
      <div class="row  ct_sec_padd pt-0">
          <div class="col-md-10 mx-auto">
              <div class="owl-carousel owl-theme ct_testimonial_slider">
                  <div class="item">
                      <div class="ct_testimonial_box">
                          <div class="ct_testimonial_cnt">
                              <p>I’ve dreamed of doing work like this since I first learned about
                                  deforestation as a kid. I love getting to use my skills to make an impact
                                  every day!</p>
                              <span class="ct_testimonials_quote">
                                  <i class="fa fa-quote-left fa-flip-horizontal"></i>
                              </span>
                          </div>
                          <div class="ct_testimonials_bottom">
                              <div class="ct_testimonials_client_img">
                                  <img width="90" height="90"
                                      src="http://ecoworld.premiumthemes.in/wp-content/uploads/2016/11/testimonials11-90x90.jpg">
                              </div>
                              <div class="ct_testimonials_name_details">
                                  <span class="ct_testimonials_name">MARIE HOEGER</span>
                                  <span class="ct_testimonials_details">SENIOR SOFTWARE ENGINEER</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="ct_testimonial_box">
                          <div class="ct_testimonial_cnt">
                              <p>The work we do at Pachama gives us the opportunity to have a positive and
                                  life-saving effect on nature and the future of climate change.</p>
                              <span class="ct_testimonials_quote">
                                  <i class="fa fa-quote-left fa-flip-horizontal"></i>
                              </span>
                          </div>
                          <div class="ct_testimonials_bottom">
                              <div class="ct_testimonials_client_img">
                                  <img width="90" height="90"
                                      src="http://ecoworld.premiumthemes.in/wp-content/uploads/2016/11/testimonials11-90x90.jpg">
                              </div>
                              <div class="ct_testimonials_name_details">
                                  <span class="ct_testimonials_name">HARLEY ALEXANDER</span>
                                  <span class="ct_testimonials_details">DESIGN & SOFTWARE</span>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>

  </div>
</section> -->
<!-- <section class="ct_block_quote_bg">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <blockquote class="">
                  <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus a molestiae possimus minima in, odio quibusdam quae.</q>
                  <cite>Wendell Berry</cite>
              </blockquote>
          </div>

      </div>

  </div>
</section> -->

<section class="ct_grey_bg" data-aos="fade-up"
data-aos-duration="2000">
  <div class="container">
      <header class="section-heading pt-0">
          <div class="container sm px-0">

              <h2 class="h4  mb-0">Available Jobs</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo
                  placeat commodi, eveniet illum omnis maiores dicta odit culpa? Numquam modi soluta itaque.
                  Voluptates vitae facilis cum asperiores ipsam.</p>
          </div>
      </header>
      <div class="row">
          <div class="col-md-12">
              <div class="ct_job_listing_bg">
                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <div class="ct_carrer_job_cnt">
                              <h4>Job Post 1</h4>
                              <div class="mt-2"><span class="me-5"><i class="fa-solid fa-location-dot me-2"></i>Indore</span><span><i class="fa-solid fa-briefcase me-2"></i>1-3 year</span></div>
                          </div>
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="ct_job_post_dtl">
                              <p ><b>Role :</b> Job Post 1</p>
                                  <div >
                                      <p ><b >Description :</b></p>
                                      <ol >
                                          <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                          <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                          <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                      </ol>
                                  </div>
                                  <p><b>Industry :</b> Carbon</p>
                                  <p><b>Qualification :</b> Bachelor’s Degree</p>
                                  <p><b>Position :</b> 2</p>
                                  <p ><b >What will your role look like</b></p>
                                 <div>
                                  <a href="#ct_job_form" class="btn btn-green btn-sm ct_custom_button w-auto mt-2">
                                      <span>Apply Now</span>
                                  </a>
                                 </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <div class="ct_carrer_job_cnt">
                                  <h4>Job Post 2</h4>
                                  <div class="mt-2"><span class="me-5"><i class="fa-solid fa-location-dot me-2"></i>Indore</span><span><i class="fa-solid fa-briefcase me-2"></i>1-3 year</span></div>
                              </div>
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <div class="ct_job_post_dtl">
                                  <p ><b>Role :</b> Job Post 2</p>
                                      <div >
                                          <p ><b >Description :</b></p>
                                          <ol >
                                              <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                              <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                              <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                          </ol>
                                      </div>
                                      <p><b>Industry :</b> Carbon</p>
                                      <p><b>Qualification :</b> Bachelor’s Degree</p>
                                      <p><b>Position :</b> 2</p>
                                      <p ><b >What will your role look like</b></p>
                                      <div>
                                          <a href="#ct_job_form" class="btn btn-green btn-sm ct_custom_button w-auto mt-2">
                                              <span>Apply Now</span>
                                          </a>
                                         </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <div class="ct_carrer_job_cnt">
                                  <h4>Job Post 3</h4>
                                  <div class="mt-2"><span class="me-5"><i class="fa-solid fa-location-dot me-2"></i>Indore</span><span><i class="fa-solid fa-briefcase me-2"></i>1-3 year</span></div>
                              </div>
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <div class="ct_job_post_dtl">
                                  <p ><b>Role :</b> Job Post 3</p>
                                      <div >
                                          <p ><b >Description :</b></p>
                                          <ol >
                                              <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                              <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                              <li >Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                                          </ol>
                                      </div>
                                      <p><b>Industry :</b> Carbon</p>
                                      <p><b>Qualification :</b> Bachelor’s Degree</p>
                                      <p><b>Position :</b> 2</p>
                                      <p ><b >What will your role look like</b></p>
                                      <div>
                                          <a href="#ct_job_form" class="btn btn-green btn-sm ct_custom_button w-auto mt-2">
                                              <span>Apply Now</span>
                                          </a>
                                         </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="ct_sec_padd" id="ct_job_form" data-aos="fade-up"
data-aos-duration="2000">

  <div class="container">
      <div class="row">
          <div class="col-md-10 mx-auto">
              <div class="ct_job_list_form ct_inner_form">
                  <header class="section-heading pt-0">
                      <div class="container sm px-0">
                          <h2 class="h4  mb-0">Contact Us</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel nemo.</p>
                      </div>
                  </header>
                  <form action="" data-hs-cf-bound="true">
                      <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="ct_input-group">
                                <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                <label class="ct_user-label">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="ct_input-group">
                                <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                <label class="ct_user-label">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ct_input-group mb-4">
                                <input required="" type="email" name="text" autocomplete="off" class="ct_input">
                                <label class="ct_user-label">Email</label>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="ct_input-group mb-4">
                                <input required="" type="number" name="text" autocomplete="off" class="ct_input">
                                <label class="ct_user-label">Phone</label>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                          <div class="ct_input-group mb-4">
                              <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                              <label class="ct_user-label">Subject</label>
                          </div>
                      </div>

                        <div class="col-md-12">
                            <div class="ct_input-group mb-4">
                                <textarea name="" required=""  id="" rows="4" class="ct_input"></textarea>
                                <label class="ct_user-label">Message</label>
                            </div>
                        </div>

                      </div>

                     <div class="text-center">
                      <button class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                          <span>Submit</span>
                      </button>
                     </div>

                    </form>

              </div>
          </div>

      </div>
  </div>
</section>
<app-footer></app-footer>
