<app-header></app-header>
<section class="ct_inner_bg ct_products_bg">
  <div class="ct_inner_title">
      <!-- <strong>CAREERS AT VANYA</strong> -->
      <h1>Carbon Credits You Can Trust  </h1>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi velit, aspernatur dolores dicta cupiditate sint eaque enim facere dignissimos autem, <br> blanditiis tempora consequuntur, ullam alias! Cum recusandae corporis quod cumque?
  </p>
      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>




<section class="ct_sec_padd">
  <header class="section-heading py-0">

  <div class="container">
     <!--  <div class="row ct_sec_padd">
          <div class="col-md-6 ct_bg_business ct_bg_business1 mb-4">
              <img src="../images/ai-climate.jpg" alt="" class="ct_object_position_right">
          </div>
          <div class="col-md-6 ps-md-5 mb-4">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Carbon Credit MRV with AI and Blockchain
                  </h4>
                  <p>Our innovative product revolutionizes carbon credit Measuring, Reporting, and Verification (MRV) by integrating AI, satellite imagery, remote sensing, and blockchain technology. This system enhances precision, reliability, and security in the MRV process, largely basing it on nature-based solutions. Transparency and trust are significantly improved, enabling smoother, more accountable carbon credit transactions.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Precision: AI and satellite imagery provide accurate measurement of carbon sequestration.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Transparency: Blockchain technology ensures every transaction is recorded and accessible.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Security: Blockchain's immutable nature prevents fraudulent transactions.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Nature-based: Our solutions utilize natural ecosystems to effectively absorb CO2.
                          </li>
                      </ul>

              </div>
          </div>
          <div class="col-md-6 ps-md-5 mb-4">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Advanced AI Carbon Footprint Calculator
                  </h4>
                  <p>Our AI-powered carbon footprint calculator is a breakthrough in environmental impact measurement. Using a vast array of data points, it provides an accurate measure of your carbon footprint, helping you understand your environmental impact at a granular level. This insight empowers individuals and businesses to make informed decisions about reducing their carbon emissions.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>High Precision: Utilizes the most data points for accurate calculations.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>AI-Driven: Advanced algorithms ensure reliable results.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Informative: Provides deep insight into personal or business carbon emissions.</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Empowering: Enables informed decision-making for carbon reduction strategies.
                          </li>
                      </ul>

              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2 mb-4">
              <img src="../images/carbon-footprting.webp" alt="">
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business3 mb-4">
              <img src="../images/esg-tool.png" alt="">
          </div>
          <div class="col-md-6 ps-md-5 mb-4">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">AI-Driven ESG Reporting Tool
                  </h4>
                  <p>Our AI-Driven ESG Reporting Tool is designed to assess your company's overall carbon footprint. It uses advanced machine learning algorithms to provide a comprehensive analysis of your environmental footprint. Furthermore, it offers tailored solutions to help your company mitigate its carbon emissions and march towards carbon neutrality.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Comprehensive: Provides a detailed analysis of your company's carbon footprint.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Intelligent: Uses AI and machine learning for accurate calculations.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Tailored Solutions: Suggests customized strategies to reduce carbon emissions.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Sustainability: Guides companies towards achieving carbon neutrality.
                          </li>

                      </ul>
              </div>
          </div>

          <div class="col-md-6 ps-md-5 mb-4">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Invest in Nature-Based Carbon Projects
                  </h4>
                  <p>We offer opportunities to invest in high-quality carbon offset projects that utilize nature-based solutions. These investments not only contribute to the reduction of global carbon emissions but also align with your sustainability goals. By investing in these projects, you're directly supporting the future of our planet.
                  </p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Effective: Nature-based solutions are effective in reducing carbon emissions.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Quality Projects: We offer only high-quality, vetted projects for investment.

                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Alignment: Investments align with individual or corporate sustainability goals.
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Future-Focused: Directly contributes to preserving the future of our planet.
                          </li>
                      </ul>
              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2  mb-4">
              <img src="../images/nature-based.jpg" alt="" class="ct_object_position_left">
          </div>

      </div> -->

      <div class="row ct_sec_padd">
          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down"
data-aos-duration="1000">
              <div class="ct_products_box">
                  <div class="ct_product_img">
                      <img src="assets/images/ai-climate.jpg" alt="images">
                  </div>
                  <div class="ct_product_info">
                      <h3>Carbon Credit MRV with AI and Blockchain</h3>
                      <p>Our innovative product revolutionizes carbon credit Measuring, Reporting, and Verification (MRV) by integrating AI, satellite imagery, remote sensing, and blockchain technology. This system enhances precision, reliability, and security in the MRV process, largely basing it on nature-based solutions. Transparency and trust are significantly improved, enabling smoother, more accountable carbon credit transactions.</p>
                      <a href="#">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down"
data-aos-duration="2000">
              <div class="ct_products_box ct_even_bg" style="background-image: url('assets/images/carbon-footprting.webp');">
                <!--   <div class="ct_product_img">
                      <img src="../images/carbon-footprting.webp" alt="images">
                  </div> -->
                  <div class="ct_product_info">
                      <h3>Advanced AI Carbon Footprint Calculator</h3>
                      <p>Our AI-powered carbon footprint calculator is a breakthrough in environmental impact measurement. Using a vast array of data points, it provides an accurate measure of your carbon footprint, helping you understand your environmental impact at a granular level. This insight empowers individuals and businesses to make informed decisions about reducing their carbon emissions.</p>
                      <a href="#">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down"
data-aos-duration="3000">
              <div class="ct_products_box">
                  <div class="ct_product_img">
                      <img src="assets/images/esg-tool.png" alt="images">
                  </div>
                  <div class="ct_product_info">
                      <h3>AI-Driven ESG Reporting Tool</h3>
                      <p>Our AI-Driven ESG Reporting Tool is designed to assess your company's overall carbon footprint. It uses advanced machine learning algorithms to provide a comprehensive analysis of your environmental footprint. Furthermore, it offers tailored solutions to help your company mitigate its carbon emissions and march towards carbon neutrality.</p>
                      <a href="#">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down"
data-aos-duration="1000">
              <div class="ct_products_box ct_even_bg" style="background-image: url('assets/images/nature-based.jpg');">
                 <!--  <div class="ct_product_img">
                      <img src="../images/nature-based.jpg" alt="images">
                  </div> -->
                  <div class="ct_product_info">
                      <h3>Invest in Nature-Based Carbon Projects</h3>
                      <p>We offer opportunities to invest in high-quality carbon offset projects that utilize nature-based solutions. These investments not only contribute to the reduction of global carbon emissions but also align with your sustainability goals. By investing in these projects, you're directly supporting the future of our planet.</p>
                      <a href="#">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
              </div>
          </div>
         <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down"
data-aos-duration="2000">
              <div class="ct_products_box">
                  <div class="ct_product_img">
                      <img src="assets/images/ai-climate.jpg" alt="images">
                  </div>
                  <div class="ct_product_info">
                      <h3>Invest in Nature-Based Carbon Projects</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur.</p>
                      <a href="#">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down"
data-aos-duration="3000">
              <div class="ct_products_box ct_even_bg" style="background-image:url('assets/images/ai-climate.jpg')">
                <!--   <div class="ct_product_img">
                      <img src="../images/ai-climate.jpg" alt="images">
                  </div> -->
                  <div class="ct_product_info">
                      <h3>Invest in Nature-Based Carbon Projects</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur.</p>
                      <a href="#">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
              </div>
          </div>

      </div>
  </div>
  </header>
</section>


<section class="ct_news_letter_bg mb-0" data-aos="fade-down"
data-aos-duration="2000">
  <div class="container">
      <div class="row  align-items-center">
          <div class="col-md-12">
              <div class="ct_new_leter_title">
                  <span class="text-white">Renewable Energy Revolution now</span>
                  <h4 class="mb-0 h4 text-white">Are you ready to be part of the climate solution? Connect with us today, and let's innovate for a sustainable tomorrow together.</h4>
                 <!--  <div class="ct_news_ltr_input mt-4">
                      <input type="email" placeholder="Email Address">
                  </div> -->
              </div>
               <div class="text-center  mt-4">
                  <a href="/CT19/Vanya/contact/" class="btn btn-green btn-sm ct_custom_button w-auto ct_new_shake_btn">
                      <span>Contact us now!</span>
                  </a>
              </div>

          </div>


      </div>

  </div>
</section>

<section class="ct_sec_padd ct_contact_form_bg" data-aos="fade-down"
data-aos-duration="2000">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ct_form_lef_img pe-md-0">
              <img src="assets/images/about_us_bg.jpg">

          </div>
          <div class="col-md-6 mx-auto  ps-md-0">

              <div class="ct_inner_form">
                  <header class="section-heading pt-0">
                      <div class="container sm px-0">
                          <h2 class="h4 mb-0">Contact Our Team
                          </h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure,
                              ipsum aliquid iste sapiente.</p>
                      </div>
                  </header>
                  <form action="">
                      <div class="row">
                          <div class="col-md-6">

                             <div class="ct_input-group mb-4">
                                  <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">First Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="ct_input-group  mb-4">
                                  <input required="" type="text" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Last Name</label>
                              </div>
                          </div>
                           <div class="col-md-6">
                               <div class="ct_input-group  mb-4">
                                  <input required="" type="email" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Email Address</label>
                              </div>
                          </div>
                           <div class="col-md-6">
                              <div class="ct_input-group  mb-4">
                                  <input required="" type="number" name="text" autocomplete="off" class="ct_input">
                                  <label class="ct_user-label">Phone Number</label>
                              </div>
                          </div>
                          </div>
                           <div class="ct_input-group mb-4">
                          <textarea required="" name="" id="" rows="4" type="text" class="ct_input"></textarea>
                          <label class="ct_user-label">Message</label>
                      </div>




                      <div class="ct_form_group mb-4">
                          <label for="">Are you looking to:*
                          </label>
                          <div class="ct_select_one">
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Start a forest carbon project</label>
                              </div>
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Sell certified carbon credits</label>
                              </div>
                          </div>
                      </div>


                      <div class="text-center">
                          <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                              <span>Submit</span>
                          </a>
                      </div>
                  </form>
              </div>
          </div>

      </div>

  </div>

</section>
<div class="logo-list layout-default  py-0" data-aos="fade-down"
data-aos-duration="2000">
  <header class="section-heading ">
      <div class="container sm">
          <span class="block-title color-green-400">OUR CUSTOMERS</span>
          <h2 class="h4">Partnering with leading brands around the world</h2>
      </div>
  </header>
  <div class="container-fluid ">
      <div class="owl-carousel owl-theme ct_client_brand_slider ct_news_slider owl-loaded owl-drag">
          <div class="owl-stage-outer">
              <div class="owl-stage"
                  style="transform: translate3d(-4320px, 0px, 0px); transition: all 1s ease 0s; width: 8400px;">
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 192px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori"
                                      width="192">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 166px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo"
                                      width="166">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 225px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Athletic-Greens.svg" class="attachment-large"
                                      alt="Athletic Greens" width="225">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 130px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Shopify.svg" class="attachment-large" alt="Shopify"
                                      width="130">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 147px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/MercadoLibre.svg" class="attachment-large"
                                      alt="MercadoLibre" width="147">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 190px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk"
                                      width="190">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 60px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso"
                                      width="60">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                  role="button" class="owl-dot"><span></span></button></div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                  role="button" class="owl-dot active"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button></div>
      </div>
  </div>
</div>
<app-footer></app-footer>
