<section class="ct_login_page_bg ct_height_100">
  <div class="container">
      <div class="row">

          <div class="col-md-5 mx-auto">
              <div class="ct_login_bg mt-0">
                  <div class="ct_login_title">
                      <img src="assets/images/logo_green.png" alt="assets/images/logo_green.png">
                      <h2 class="ct_login_head">Forget Password?</h2>
                      <p class="text-center">Please Enter Your Email</p>
                  </div>

                  <form>
                      <div class="ct_input_group mb-4">

                          <input required="" type="email" name="text" autocomplete="off"
                               class="ct_text_input">
                          <label class="ct_user_label">Email</label>
                      </div>

                     <button class="ct_login_btn">
                          Submit
                     </button>
                  </form>
              </div>
          </div>

      </div>

  </div>

</section>
