<header id="header">
  <div class="header-wrap ">
      <div class="container-fluid">
          <div class="logo ct_mob_logo">
              <a href="/CT19/Vanya/vanya/" class="ct_desktop_logo">
                  <img class="inline-svg ct_main_logo" src="/assets/images/logo.png" width="132" alt="">
                  <img class="inline-svg ct_sticky_logo" src="/assets/images/logo_green.png" width="132" alt="">
              </a>
              <a href="/CT19/Vanya/vanya/" class="ct_mobile_logo">
                  <img class="inline-svg ct_main_logo" src="/assets/images/mob_white_logo.png" width="132" alt="">
                  <img class="inline-svg ct_sticky_logo" src="/assets/images/logo_mob_green.png" width="132" alt="">
              </a>
          </div>

          <nav id="nav">
              <ul class="nav">
                  <li>
                      <a routerLink="/about"><span>About Us</span></a>
                  </li>
                  <li>
                      <a  routerLink="/products"><span>Products</span></a>
                  </li>
                  <li>
                      <a routerLink="/partners"><span>FOR  PARTNERS</span> </a>
                  </li>
                  </ul>

                  <div class="logo ct_center_logo_desk">
                      <a [routerLink]="'/home'" class="ct_desktop_logo">
                          <img class="inline-svg ct_main_logo" src="/assets/images/logo.png" width="132" alt="">
                          <img class="inline-svg ct_sticky_logo" src="/assets/images/logo_green.png" width="132" alt="">
                      </a>
                      <a [routerLink]="'/home'" class="ct_mobile_logo">
                          <img class="inline-svg ct_main_logo" src="/assets/images/mob_white_logo.png" width="132" alt="">
                          <img class="inline-svg ct_sticky_logo" src="/assets/images/logo_mob_green.png" width="132" alt="">
                      </a>
                  </div>
                  <ul class="nav">
                      <li>
                          <a  routerLink="/business"><span>For Businesses </span></a>
                      </li>
                  <!-- <li>
                      <a href="#" data-submenu class="hasdrop hasdrop-a"><span>For Businesses</span></a>
                      <div class="dropdown">
                          <div class="inner">
                              <ul class="drop-list">
                                  <li>

                                      <a href="for-businesses.html">
                                          <div class="txt">
                                              <strong>For Businesses</strong>
                                          </div>
                                      </a>
                                  </li>
                                  <li>

                                      <a href="for-farmers.html">
                                          <div class="txt">
                                              <strong>For Farmers</strong>
                                          </div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="for-companies.html">
                                          <div class="txt">
                                              <strong>For Companies</strong>

                                          </div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="for-ngo.html">
                                          <div class="txt">
                                              <strong>For NGO's</strong>
                                          </div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </li> -->
                  <li>
                      <a routerLink="/tech"><span>Tech </span></a>
                  </li>

                  <li>
                      <a  routerLink="/contact_us"><span>Contact Us</span></a>
                  </li>
              </ul>
          </nav>
          <a href="#" class="nav-opener nav-open">
              <img class="inline-svg" src="/assets/images/hamburger.svg" width="24" alt="">
          </a>
      </div>
      <a href="#" class="nav-opener nav-close">
          <img class="inline-svg" src="/assets/images/icon-close.svg" width="24" alt="">
      </a>
  </div>
</header>
