

 <!-- Default Hero Banner -->
 <app-header></app-header>
 <div class="banner banner-home padding-default bg-black color-white has-bg-image"
 style="background-image: url(assets/images/banner.webp); height: 90vh;">
 <div class="banner-home__overlay"></div>
 <div class="banner__video">
     <video  autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
         <source src="assets/images/NewVideo22.mp4" type="video/mp4">
     </video>
 </div>
 <div class="container lg ct_banner_bg">
     <h1 class="h1-lg margin-none">Revolutionizing Climate Action Through Technology and Nature</h1>
     <div class="txt">
         <h6>At Vanya.ai, we leverage AI, remote sensing, satellite data, blockchain, and nature-based solutions to monitor, track and verify carbon credits, sequester carbon and promote sustainable development for a net positive world.</h6>
     </div>

     <div class="btns-wrap">

         <a href="/CT19/Vanya/tech/" class="btn btn-muted btn-xl">Learn More</a>
     </div>

 </div>
 <span class="scroll-btn"  onclick='window.scroll(0,600)'>
     <a>
         <span class="mouse">
             <span>
             </span>
         </span>
     </a>
   <p>scroll me</p>

 </span>
</div>


    <!-- Section Heading -->
    <section class="ct_sec_padd pt-0">
      <header class="section-heading "data-aos="fade-up"
   data-aos-duration="2000">
          <div class="container sm">
              <!-- <span class="block-title color-green-400">WHY CLIMATE ACTION?</span> -->
              <h2 class="h4 mb-2">WHY CLIMATE <span class="color-green-400">ACTION?</span></h2>
              <p>Addressing climate change is critical to safeguard our planet's future. Climate action helps mitigate harmful effects, preserve ecosystems, and ensure sustainable development.</p>
          </div>
      </header>

      <!-- Images with Stats -->

          <div class="container xl">
              <div class="row">
                  <div class=" col-md-4 mb-4" data-aos="fade-up"
   data-aos-duration="1000">
                      <figure class="ct_support_box">
                          <div class="ct_support_img">
                              <img alt="" src="assets/images/why_us_1.jpg">
                          </div>
                          <figcaption>
                              <div class="split-images__stat">
                                  <div class="split-images__number ">70%</div>
                                  <div class="split-images__desc ">
                                      Around 70% of global GHG emissions are caused by human activities.
                                  </div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                  <div class=" col-md-4 mb-4" data-aos="fade-up"
   data-aos-duration="2000">
                      <figure class="ct_support_box ct_support_top">
                          <div class="ct_support_img">
                              <img alt="" src="assets/images/why_us_2.jpg">
                          </div>
                          <figcaption>
                              <div class="split-images__stat">
                                  <div class="split-images__number ">30 Years</div>
                                  <div class="split-images__desc ">
                                      We have less than 30 years at current rates to limit global warming to 1.5°C.
                                  </div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                  <div class=" col-md-4 mb-4" data-aos="fade-up"
   data-aos-duration="3000">
                      <figure class="ct_support_box">
                          <div class="ct_support_img">
                              <img alt="" src="assets/images/why_us_3.jpg">
                          </div>
                          <figcaption>
                              <div class="split-images__stat">
                                  <div class="split-images__number ">$1 Trillion</div>
                                  <div class="split-images__desc ">
                                      Climate change could cost the global economy $1 trillion by 2030 if action isn't taken.
                                  </div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div>
          </div>
      </section>

          <!-- Section Heading -->

      <header class="section-heading bg-gray-100 " data-aos="fade-up"
      data-aos-duration="2000">
             <div class="container sm">
                 <!-- <span class="block-title color-green-400">PLAY YOUR ROLE</span> -->
                 <h2 class="h4 mb-2">ACTIVATE YOUR <span class="color-green-400">IMPACT</span></h2>
                 <p>Join us on the path to a greener future. Whether you aim to neutralize your carbon emissions or monetize carbon credits, Vanya is your trusted partner.                </p>
             </div>
         </header>

<!-- Tiles With Buttons -->
 <section class="play-role bg-gray-100 ">
  <div class="container">
      <div class="row">
          <div class="col-md-6 mb-4" data-aos="fade-up"
data-aos-duration="1000">
              <div class="box  color-gray-800">
                  <!-- <div class="bg">
                      <span class="skew bg-white" ></span>
                      <div class="img"
                          style="background-image: url(images/1.jpg)">
                      </div>
                  </div> -->
                  <div class="ct_play_role_img">
                      <img src="/assets/images/1.jpg">
                  </div>
                  <div class="ct_overlay_content">
                      <h3>Invest in nature</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis.</p>
                      <ul class="btn-list ct_button_group">
                          <!-- <li>
                              <a href="#" class="btn btn-green btn-sm ct_custom_button">
                                  <span>Large Enterprises</span>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-green btn-sm ct_custom_button">
                                  <span>Small Businesses</span>
                              </a>
                          </li> -->
                          <li>
                              <a href="/CT19/Vanya/for-businesses/" class="btn btn-green btn-sm ct_custom_button">
                                  <span>For Business</span>
                              </a>
                          </li>
                      </ul>

                  </div>

              </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"
data-aos-duration="2000">
              <div class="box color-gray-800">
                  <div class="ct_play_role_img">
                      <img src="/assets/images/2.jpg">
                  </div>
                  <div class="ct_overlay_content">
                      <h3>Start a carbon project</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis.</p>
                      <ul class="btn-list ct_button_group">
                          <!-- <li>
                              <a href="#" class="btn btn-green btn-sm ct_custom_button">
                                  <span>Project Developers</span>
                              </a>
                          </li> -->
                          <li>
                              <a href="/CT19/Vanya/for-partners/" class="btn btn-green btn-sm ct_custom_button" data-modal>
                                  <span>For Partners</span>
                              </a>
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- Slider With Tabs -->

<section class="our-technology" data-aos="fade-up"
data-aos-duration="2000">
  <div class="our-technology-slider" data-autoplay="true" data-delay="10000">
      <div class="slide" data-color="black" data-bg="white">
          <div class="our-technology-slider__overlay tab-slider-overlay" data-overlay="rgba(255,255,255,1)"
              style="background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(0,0,0,0));">
          </div>
          <header class="section-heading">
              <div class="container">
                  <!-- <span class="block-title color-green-500" style="color:#222222;">OUR TECHNOLOGY</span> -->
                  <h2 class="h4 mb-2" >OUR <span class="color-green-500">TECHNOLOGY</span></h2>
                  <p>Tech Transforming Nature, Healing Our Planet on a Grand Scale 1
                  </p>
              </div>
          </header>
          <div class="img banner__video">

              <video autoplay="true" muted="muted"  playsinline webkit-playsinline loop preload="none" class="lazy" oncanplay="this.play()" onloadedmetadata="this.muted = true">
                  <source data-src="assets/images/tech-1-4.mp4" type="video/mp4">
              </video>
          </div>
      </div>
      <div class="slide" data-color="black" data-bg="white">
          <div class="our-technology-slider__overlay tab-slider-overlay" data-overlay="rgba(19,76,7,1)"
              style="background: linear-gradient(to bottom, rgba(19,76,7,1) 0%, rgba(19,76,7,1) 65%, rgba(0,0,0,0));">
          </div>
          <header class="section-heading">
              <div class="container">
                  <!-- <span class="block-title color-green-500" style="color:#ffffff;">OUR TECHNOLOGY</span> -->
                  <h2 class="h4 mb-2" style="color:#ffffff;">OUR TECHNOLOGY</h2>
                  <p style="color:#ffffff;">Tech Transforming Nature, Healing Our Planet on a Grand Scale 2</p>
              </div>
          </header>
          <div class="img banner__video">
              <video muted autoplay playsinline webkit-playsinline loop preload="none" class="lazy" oncanplay="this.play()" onloadedmetadata="this.muted = true">
                  <source data-src="assets/images/tech-2.mp4" type="video/mp4">
              </video>
          </div>
      </div>
      <div class="slide" data-color="black" data-bg="white">
          <div class="our-technology-slider__overlay tab-slider-overlay" data-overlay="rgba(36,54,25,0.8)"
              style="background: linear-gradient(to bottom, rgba(36,54,25,0.8) 0%, rgba(36,54,25,0.8) 65%, rgba(0,0,0,0));">
          </div>
          <header class="section-heading">
              <div class="container">
                  <!-- <span class="block-title color-green-500" style="color:#ffffff;">OUR TECHNOLOGY</span> -->
                  <h2 class="h4" style="color:#ffffff;">OUR TECHNOLOGY</h2>
                  <p style="color:#ffffff;">Tech Transforming Nature, Healing Our Planet on a Grand Scale</p>
              </div>
          </header>
          <div class="img banner__video">
              <!-- <video muted autoplay playsinline webkit-playsinline loop preload="none" class="lazy">-->
                  <!-- <source src="/assets/images/tech-3.mp4" type="video/mp4"> -->
              <!-- </video> -->
              <video muted autoplay playsinline webkit-playsinline loop preload="none" class="lazy" oncanplay="this.play()" onloadedmetadata="this.muted = true">
                  <source data-src="assets/images/tech-3.mp4" type="video/mp4">
              </video>
          </div>
      </div>
  </div>

  <div class="slider-nav-container" data-color="Array">
      <div class="slider-nav">
          <div class="nav-slide" data-title-color="#222222" data-text-color="#222222"
              data-overlay="rgba(255,255,255,1)">
              <strong style="color:#222222;">AI Based Monitoring</strong>
              <p style="color:#222222;">
                  Our advanced AI technology interprets remote sensing and satellite data, enabling unprecedented precision in monitoring agricultural land's carbon sequestration. Furthermore, blockchain technology ensures transparency, traceability, and fosters trust in carbon credits.
              </p>
          </div>
          <div class="nav-slide" data-title-color="#ffffff" data-text-color="#ffffff"
              data-overlay="rgba(19,76,7,1)">
              <strong style="color:#222222;">Blockchain </strong>
              <p style="color:#222222;">
                  Our decentralized system leverages blockchain for transparent, tamper-proof carbon emission data and credit transactions, reducing fraud and simplifying trading. This promotes environmental accountability, sustainability and eases compliance.
              </p>
          </div>
          <div class="nav-slide" data-title-color="#ffffff" data-text-color="#ffffff"
              data-overlay="rgba(36,54,25,0.8)">
              <strong style="color:#222222;">Nature Based Solutions</strong>
              <p style="color:#222222;">We use natural ecosystems to generate carbon credits and offsets, combating climate change through reforestation, sustainable agriculture, and wetland restoration. Our approach sequesters CO2, enhances biodiversity, promotes socio-economic wellbeing, and fosters a sustainable planet.
              </p>
          </div>
      </div>
  </div>
  <!-- <script>
      let colorInfo = [{
          "overlay": "rgba(255,255,255,1)",
          "tab_title": "#222222",
          "tab_text": "#222222",
          "dots": "dark"
      }, {
          "overlay": "rgba(19,76,7,1)",
          "tab_title": "#ffffff",
          "tab_text": "#ffffff",
          "dots": "light"
      }, {
          "overlay": "rgba(36,54,25,0.8)",
          "tab_title": "#ffffff",
          "tab_text": "#ffffff",
          "dots": "light"
      }]
  </script> -->
</section>




<!-- Section Heading -->

<!-- <header class="section-heading  ">
  <div class="container sm">
      <span class="block-title color-green-400">JOIN THE NET ZERO MOVEMENT</span>
      <h2 class="h4">Explore our tech-verified projects</h2>
  </div>
</header> -->



<!-- <section class="photo-collage ">

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="owl-carousel owl-theme ct_project_slider">
                  <div class="item">
                      <div class="ct_gallery_item  ">
                          <a class="thumb" href="#">
                              <img alt="Borneo Peatlands" src="images/slider_1.jpg">
                              <span class="overlay"></span>
                              <span class="cap">
                                  <img src="images/ID.svg" alt="">
                                  <span>Borneo Peatlands</span>
                              </span>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="ct_gallery_item  ">
                          <a class="thumb" href="#">
                              <img alt="Manoa" class="" src="images/slider_2.jpg">
                              <span class="overlay"></span>
                              <span class="cap">
                                  <img src="images/BR.svg" alt="">
                                  <span>Manoa</span>
                              </span>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="ct_gallery_item  ">
                          <a class="thumb" href="#">
                              <img alt="Central Kalimantan Peatlands" src="images/slider_3.jpg">
                              <span class="overlay"></span>
                              <span class="cap">
                                  <img src="images/ID.svg" alt="">
                                  <span>Central Kalimantan Peatlands</span>
                              </span>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="ct_gallery_item  ">
                          <a class="thumb" href="#">
                              <img alt="King County Parks" src="images/slider_4.jpg">
                              <span class="overlay"></span>
                              <span class="cap">
                                  <img src="images/US.svg" alt="">
                                  <span>King County Parks</span>
                              </span>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="ct_gallery_item  ">
                          <a class="thumb" href="#">
                              <img alt="Chocó-Darién Bioregion" src="images/slider_5.jpg">
                              <span class="overlay"></span>
                              <span class="cap">
                                  <img src="images/CO.svg" alt="">
                                  <span>Chocó-Darién Bioregion</span>
                              </span>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="ct_gallery_item  ">
                          <a class="thumb" href="#">
                              <img alt="Borneo Peatlands" data-src="images/slider_6.jpg"
                                  src="images/slider_6.jpg">
                              <span class="overlay"></span>
                              <span class="cap">
                                  <img src="images/ID.svg" alt="">
                                  <span>Borneo Peatlands</span>
                              </span>
                          </a>
                      </div>
                  </div>


              </div>
          </div>

      </div>



  </div>
</section> -->

<!-- Section Heading -->




<!-- Article List -->

<!-- <section class="article-list article-list-3 bg-gray-100 ">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-4 mb-4">
              <div class="box ">
                  <div class="overflow-hidden">
                  <a href="#" class="img-wrap">
                      <img alt="Improvement" class="attachment-large" src="images/blog_3.jpeg" /></a></div>
                  <div class="content">
                      <div class="text-wrap">
                          <strong class="title">4 ways carbon crediting is improving</strong>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam exercitationem
                              voluptatibus sunt molestias deleniti accusantium sit dicta aspernatur expedita,
                              consectetur asperiores. Laudantium, eum at. Obcaecati officiis non fugiat ut
                              sunt!</p>
                      </div>

                      <a href="#" class="btn btn-green btn-sm ct_custom_button" data-modal>
                          <span>Read more</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4 mb-4">
              <div class="box ">
                  <div class="overflow-hidden">
                  <a href="#" class="img-wrap">
                      <img alt="Corredores-Pau-Brasil-1-scaled" class="attachment-large"
                          src="images/blog_2.jpeg" /></a></div>
                  <div class="content">
                      <div class="text-wrap">
                          <strong class="title">New Geospatial Offerings Provide More Confidence In REDD+
                              Carbon Credit Purchases</strong>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab voluptatem est cum
                              veniam provident quis cumque, quisquam, ex, praesentium animi id assumenda. Quos
                              magnam deserunt amet, inventore officiis voluptas corrupti.</p>
                      </div>

                      <a href="#" class="btn btn-green btn-sm ct_custom_button" data-modal>
                          <span>Read more</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4 mb-4">
              <div class="box ">
                <div class="overflow-hidden">
                  <a href="#" class="img-wrap">
                      <img alt="images" class="attachment-large " src="images/blog_1.jpeg" /></a>
                </div>
                  <div class="content">
                      <div class="text-wrap">
                          <strong class="title">Carbon credit platform Vanya raises $55 mln in latest
                              funding round</strong>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero magnam
                              explicabo, cumque consectetur vitae. Facilis delectus consectetur illo enim
                              nobis fugiat sint vitae nihil voluptatum numquam? Dolorum, ab repudiandae.

                          </p>
                      </div>

                      <a href="#" class="btn btn-green btn-sm ct_custom_button" data-modal>
                          <span>Read more</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->


<div class="logo-list layout-default py-0" data-aos="fade-up"
data-aos-duration="2000">
  <header class="section-heading  ">
      <div class="container sm">
          <span class="block-title color-green-400">VANYA IN THE NEWS</span>
          <h2 class="h4">See Vanya's latest news</h2>
      </div>
  </header>
  <div class="container-fluid ">
      <div class="owl-carousel owl-theme  ct_client_brand_slider ct_news_slider owl-loaded owl-drag">
          <div class="owl-stage-outer">
              <div class="owl-stage"
                  style="transform: translate3d(-2400px, 0px, 0px); transition: all 1s ease 0s; width: 5520px;">
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 147px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/MercadoLibre.svg" class="attachment-large"
                                      alt="MercadoLibre" width="147">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 190px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk"
                                      width="190">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 60px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso"
                                      width="60">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 192px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/Vuori.svg" class="attachment-large" alt="Vuori"
                                      width="192">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 166px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/Glovo.svg" class="attachment-large" alt="Glovo"
                                      width="166">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 225px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/Athletic-Greens.svg" class="attachment-large"
                                      alt="Athletic Greens" width="225">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item" style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 130px;">
                              <a class="ct_client_img" href="#">
                                  <img src="/assets/images/Shopify.svg" class="attachment-large" alt="Shopify"
                                      width="130">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
