<app-header></app-header>
<section class="ct_inner_bg ct_careers_bg">
  <div class="ct_inner_title">
      <!-- <strong>CAREERS AT VANYA</strong> -->
      <h1>Carbon Credits You Can Trust  </h1>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi velit, aspernatur dolores dicta cupiditate sint eaque enim facere dignissimos autem, <br> blanditiis tempora consequuntur, ullam alias! Cum recusandae corporis quod cumque?
  </p>
  <a href="#" class="btn btn-muted btn-xl mt-4">Contact Our Team</a>

      <span class="scroll-btn" onclick='window.scroll(0,400)'>
          <a>
              <span class="mouse">
                  <span>
                  </span>
              </span>
          </a>
          <p>scroll me</p>

      </span>
  </div>

</section>


<section class="ct_sec_padd pb-0">
  <header class="section-heading pt-0">
      <div class="container sm px-0">
          <h2 class="h4 mb-0">See how it works
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure, ipsum aliquid
              iste sapiente.</p>
      </div>
  </header>
  <div class="container">
      <div class="row">
          <div class="col-md-6 mb-4">
              <div class="ct_card_box">
                  <div class="ct_detail_cnt">
                      <h4 class="mb-2">Sell forest carbon credits
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque consequuntur delectus reiciendis iusto, excepturi ipsum voluptates cum sequi possimus unde vitae assumenda beatae architecto, amet quam suscipit ullam temporibus doloremque.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="ct_card_box">

                  <div class="ct_detail_cnt">
                      <h4 class="mb-2">Start a forest carbon project
                      </h4>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum porro enim aut eaque delectus, ducimus consequatur impedit voluptatibus nostrum? Mollitia ut sequi iusto praesentium adipisci atque beatae totam soluta.
                      </p>
                  </div>
              </div>
          </div>

      </div>
  </div>

</section>

<section class="ct_sec_padd">
  <header class="section-heading py-0">
      <div class="container sm px-0">
          <h2 class="h4 mb-0">The Vanya Difference
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure, ipsum aliquid
              iste sapiente.</p>
      </div>
  </header>
  <div class="container">
      <div class="row ct_sec_padd">
          <div class="col-md-6 ct_bg_business ct_bg_business1 pe-md-0">
              <img src="assets/images/bussiness_11.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Manage investments with ease

                  </h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore magnam eos enim eaque
                      iure ratione asperiores illum, praesentium exercitationem eum consectetur reprehenderit
                      sed assumenda illo reiciendis dolorem! Non, libero error!</p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Lorem ipsum dolor</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>View retirements</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Download certificates</li>
                      </ul>
                  <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                      <span>Get Started</span>
                  </a>
              </div>
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Communicate with confidence
                  </h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore magnam eos enim eaque
                      iure ratione asperiores illum, praesentium exercitationem eum consectetur reprehenderit
                      sed assumenda illo reiciendis dolorem! Non, libero error!</p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Lorem ipsum dolor</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>View retirements</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Download certificates</li>
                      </ul>
                  <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                      <span>Explore our projects</span>
                  </a>
              </div>
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business2  ps-md-0">
              <img src="assets/images/1.jpg" alt="">
          </div>
          <div class="col-md-6 ct_bg_business ct_bg_business3 pe-md-0">
              <img src="assets/images/2.jpg" alt="">
          </div>
          <div class="col-md-6 ps-md-5">
              <div class="container sm px-0 ct_small_business_cnt">
                  <h4 class="ct_heading_h4 mb-0">Invest in quality
                  </h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore magnam eos enim eaque
                      iure ratione asperiores illum, praesentium exercitationem eum consectetur reprehenderit
                      sed assumenda illo reiciendis dolorem! Non, libero error!</p>
                      <ul class="mb-0 ps-0 ct_list_item">
                          <li><i class="fa fa-check" aria-hidden="true"></i>Lorem ipsum dolor</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>View retirements</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>Download certificates</li>
                      </ul>
                  <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                      <span>See our evaluation process</span>
                  </a>
              </div>
          </div>

      </div>
  </div>
</section>

<div class="logo-list layout-default bg-gray-100 py-0">
  <header class="section-heading ">
      <div class="container sm">
          <span class="block-title color-green-400">OUR CUSTOMERS</span>
          <h2 class="h4">Partnering with leading brands around the world</h2>
      </div>
  </header>
  <div class="container-fluid ">
      <div class="owl-carousel owl-theme ct_client_brand_slider ct_news_slider owl-loaded owl-drag">
          <div class="owl-stage-outer">
              <div class="owl-stage"
                  style="transform: translate3d(-4320px, 0px, 0px); transition: all 1s ease 0s; width: 8400px;">
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 192px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Vuori.svg" class="attachment-large" alt="Vuori"
                                      width="192">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 166px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Glovo.svg" class="attachment-large" alt="Glovo"
                                      width="166">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 225px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Athletic-Greens.svg" class="attachment-large"
                                      alt="Athletic Greens" width="225">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 130px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Shopify.svg" class="attachment-large" alt="Shopify"
                                      width="130">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 147px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/MercadoLibre.svg" class="attachment-large"
                                      alt="MercadoLibre" width="147">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 190px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Autodesk.svg" class="attachment-large" alt="Autodesk"
                                      width="190">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="owl-item " style="width: 230px; margin-right: 10px;">
                      <div class="item">
                          <div class="logo-wrap" style="width: 60px;">
                              <div class="ct_client_img">
                                  <img src="assets/images/Nespresso.svg" class="attachment-large" alt="Nespresso"
                                      width="60">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                  role="button" class="owl-dot"><span></span></button></div>
          <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                      aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                  role="button" class="owl-dot active"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button><button role="button"
                  class="owl-dot"><span></span></button></div>
      </div>
  </div>
</div>


<section class="ct_sec_padd">
  <div class="container">
      <div class="row">
          <div class="col-md-10 mx-auto">

              <div class="ct_inner_form">
                  <header class="section-heading pt-0">
                      <div class="container sm px-0">
                          <h2 class="h4 mb-0">Contact Our Team
                          </h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta distinctio iure,
                              ipsum aliquid iste sapiente.</p>
                      </div>
                  </header>
                  <form action="">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="ct_form_group mb-4">
                                  <label for="">Name</label>
                                  <input type="email" class="form-control">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="ct_form_group mb-4">
                                  <label for="">Last Name</label>
                                  <input type="email" class="form-control">
                              </div>
                          </div>

                      </div>
                      <div class="ct_form_group mb-4">
                          <label for="">Work email*</label>
                          <input type="email" class="form-control">
                      </div>
                      <div class="ct_form_group mb-4">
                          <label for="">Select Country</label>
                          <input type="email" class="form-control">
                      </div>
                      <div class="ct_form_group mb-4">
                          <label for="">Are you looking to:*
                          </label>
                          <div class="ct_select_one">
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Start a forest carbon project</label>
                              </div>
                              <div>
                                  <input type="radio" name="choose_one"><label for="">Sell certified carbon credits</label>
                              </div>
                          </div>
                      </div>
                      <div class="ct_form_group mb-4">
                          <label for="">Message*</label>
                          <textarea name="" id="" rows="4"></textarea>
                      </div>

                      <div class="text-center">
                          <a href="#" class="btn btn-green btn-sm ct_custom_button w-auto mt-4">
                              <span>Submit</span>
                          </a>
                      </div>
                  </form>
              </div>
          </div>

      </div>

  </div>

</section>
<app-footer></app-footer>
